<%= form_for invite do |f| %>
  <div>
    <%= f.hidden_field :project_id, value: project.id %>
  </div>

  <div>
    <%= f.email_field :email, placeholder: "Invite someone by email" %> 
    <%= f.submit class: "button button-primary", value: 'send invite' %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

<% end %>
