<div class="self-msg-wrapper u-full-width">
<small class="self-meta-data text-right u-full-width"><b>Me</b> <i>on <%= message.date_to_s %> <%= message.time_to_s %></i></small>
<% if message.user.image %>
  <img class="profile-pic" src="<%= message.user.image_url %>">
<% else %>
  <div class="profile-pic no--pic"><div class="table-cell"><%= message.user.first_name[0] %></div></div>
<% end %>
<p class="self-pwd">
  <%= message.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
</p>
</div>