<%= form_for message, html: { id: "av-message-form" } do |f| %>
  <div>
    <% if tasks %>
      <%= f.text_area :content, placeholder: "Type task here..." %>
    <% else %>
      <%= f.text_area :content, placeholder: "Type message here..." %>
    <% end %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :conversation_id, value: conversation.id %>
  <% if tasks %>
    <%= hidden_field_tag :tasks, tasks %>
  <% end %>
  <%= f.submit class: 'button button-primary', value: 'send' %>
<% end %>