<%= form_for message, html: { id: "av-message-form" } do |f| %>
  <div>
    <% if tasks %>
      <%= f.text_area :content, placeholder: "Type task here..." %>
    <% elsif notes %>
      <%= f.text_area :content, placeholder: "Type note here..." %>
    <% else %>
      <%= f.text_area :content, placeholder: "Type message here..." %>
    <% end %>

    <div class="file-wrapper">
      <%= f.label :files do %>
        <i class="fa fa-paperclip"></i>
      <% end %>

      <%= f.file_field :files, multiple: true %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :conversation_id, value: conversation.id %>
  <% if tasks %>
    <%= hidden_field_tag :tasks, tasks %>
  <% end %>
  <%= button_tag(class: "button button-primary") do %>
    <i class="fa fa-paper-plane"></i>
  <% end %>
<% end %>