<%= form_for message, html: { id: "av-message-form" } do |f| %>
  <div>
    <%= f.text_area :content, placeholder: "Type message here..." %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :conversation_id, value: conversation.id %>
  <%= hidden_field_tag :tasks, tasks %>
<% end %>