<% if message.from_user?(current_user) %>
<div class="self-msg-wrapper">
  <small class="them-pwd text-right u-full-width"><b>Me</b> <i>on <%= message.date_to_s %> <%= message.time_to_s %></i></small>
  <p class="self-pwd">
    <%= message.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
  </p>
 
  <div class="profile-pic no--pic"><div class="table-cell"><%= message.user.name[0] %></div></div>
  </div>
<% else %>
<div class="them-msg-wrapper">
<div class="profile-pic no--pic"><div class="table-cell"><%= message.user.first_name[0] %></div></div>
	<small><b><%= message.user.name %></b> <i>on <%= message.date_to_s %> <%= message.time_to_s %></i></small>
  <p>
    <%= message.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
  </p>
  </div>
<% end %>