<% if message.from_user?(current_user) %>
  <small><b>Me</b> <i>on <%= message.date_to_s %> <%= message.time_to_s %></i></small>
  <p class="self-pwd">
    <%= message.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
  </p>
<% else %>
	<small class="them-pwd text-right u-full-width"><b><%= message.user.name %></b> &nbsp; <i>on <%= message.date_to_s %> <%= message.time_to_s %></i></small>
  <p>
    <%= message.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
  </p>
<% end %>