<div class="note" id="note-<%= message.id %>">
  <div class="note-icons u-pull-right">
    <%= link_to message_path(message), method: "DELETE", class: "remove-notes", title: "Delete this note" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>

  <p>
    <small><i><%= message.time_ago_to_s %></i></small>
  </p>
  <% if message.has_task? %>
    <p class="<%= message.task.html_class %>"><%= message.content %></p>
  <% else %>
    <p><%= message.content %></p>
  <% end %>
  <div class="icon-bar">
    <% if message.has_task? %>
      <% if message.task.completer %>

        <%= link_to task_path(message.task, task: { completer_id: nil }), title: "Mark as Incomplete", method: "PUT", class: "uncomplete-task" do %>
          <i class="fa fa-undo"></i>
        <% end %>

      <% else %>
        <%= link_to task_path(message.task, task: { completer_id: current_user.id }), title: "Mark as Complete", method: "PUT", class: "complete-task" do %>
          <i class="fa fa-check-circle"></i>
        <% end %>

        <%= link_to task_path(message.task), title: "Remove Task", method: "DELETE", class: "remove-model" do %>
          <i class="fa fa-minus-circle"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to tasks_path(task: { message_id: message.id } ), title: "Add Task", method: "POST", class: "new-model" do %>
        <i class="fa fa-exclamation-circle"></i>
      <% end %>
    <% end %>
  </div>
</div>