<div class="them-msg-wrapper" id="message-<%= message.id %>">

<% if message.user.image %>
  <img class="profile-pic" src="<%= message.user.image_url %>">
<% else %>
  <div class="profile-pic has-no-pic"><div class="table-cell"><%= message.user.first_name[0] %></div></div>
<% end %>
<small class="u-full-width them-meta-data"><b><%= message.user.first_name_last_initial %></b> <i><%= message.time_ago_to_s %></i></small>
  <% if task %>
    <p class="<%= task.html_class %>">
      <%= sanitize(simple_format(message.auto_linked_content.gsub(/(?:\n\r?|\r\n?)/, '<br>')), :tags => %w(br a)) %>
    </p>
  <% else %>
    <p>
      <%= sanitize(simple_format(message.auto_linked_content.gsub(/(?:\n\r?|\r\n?)/, '<br>')), :tags => %w(br a)) %>
    </p>
  <% end %>

  <div class="icon-bar them">
    <% if task %>

      <% if task.completed %>
        <%= link_to task_path(message.task, task: { completed: false }), title: "Mark as Incomplete", method: "PUT", class: "uncomplete-task" do %>
          <i class="fa fa-undo"></i>
        <% end %>
      <% else %>
        <%= link_to task_path(message.task, task: { completed: true }), title: "Mark as Complete", method: "PUT", class: "complete-task" do %>
          <i class="fa fa-check-circle"></i>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>