<div class="display-table">
<div class="text-center centered">
<h2 class="text-center">
Sign in to start messaging with Evia
</h2>
<%= form_tag '/login', id: "sign-in-form" do %>
  <%= email_field_tag :email, @email, placeholder: "Email" %><br>
  <%= password_field_tag :password, nil, placeholder: "Password" %><br><br>
  <%= submit_tag "Sign In" , :class => 'button button-primary' %><br><br>
  <p>
    DON'T HAVE AN ACCOUNT?
    <%= link_to "SIGN UP", new_user_path %>
  </p>
  <p>
    <%= link_to "Forgot your password?", new_password_recovery_path %>
  </p>
<% end %>
</div>
</div>