<div style="height:100%; width:100%; overflow: scroll;">

  <div class="desktop-nav show-desktop">
    <div id="header" class="navbar">
       <div class="container">
        <div class="row">
          <span><b>M</b>ercury<b>A</b>pp</span>
          <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#plans">Plans</a></li>
            <li><a href="#why">Why MAP</a></li>
            <li><a href="#getting-started">Getting Started</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
          <ul class="u-pull-right">
            <% if current_user %>
            <li><%= link_to 'Dashboard', home_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li class="pill"><%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="mobile-nav show-mobile">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <a href="/"><h2>MercuryApp</h2></a>
          <a id="right-menu" class="u-pull-right" href="#right-menu"><i class="fa fa-bars fa-2x"></i></a>
          <div id="sidr-right" class="sidr right">
            <ul>
              <li><a href="#features">Features</a></li>
              <li><a href="#plans">Plans</a></li>
              <li><a href="#why">Why MAP</a></li>
              <li><a href="#getting-started">Getting Started</a></li>
              <% if current_user %>
              <li><%= link_to 'Dashboard', home_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
              <% else %>
              <li class="pill"><%= link_to 'Sign Up', login_path %></li>
              <li><%= link_to 'Login', login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- End mobile menu -->
<!--nav-bar-->
<!--
Feature Area
-->
<section class="feature">
  <h1 class="text-center">For A  Better CMS Experience</h1>
</section>

<!-- End Feature -->
<!-- main body -->
<div class="main">
  <section class="intro">
   <div class="container">
     <div class="row">
       <div class="twelve columns text-center">
         <h1>Your WordPress project just got a lot more productive</h1>
       </div>
       <div class="ten offset-by-one columns text-center">
         <p>Communicate with your clients and team. <b><i>All in one place.</i></b> The Mercury messenger app is a widget that is docked to your web browser when you are logged in as a WordPress admin. Anyone who visits your project will not see the messenger app, but anyone who is logged in has the ability to message and send data to single user or group  on their respective project.</p>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="four columns text-center">
         <p><i class="fa fa-folder-open fa-5x"></i></p>
         <h3>Eliminate Barriers</h3> <p class="text-left">How many times do we mean to send an email about something we need updated or fixed on our project and forget. Now it is all in one place, just send a quick message.</p>
       </div>
       <div class="four columns text-center">
         <p><i class="fa fa-smile-o fa-5x"></i></p>
         <h3>Convenient Messaging</h3> <p class="text-left">Communicate immediately with team members and clients, just send a quick message. Now it is native on your WordPress website.</p>
       </div>
       <div class="four columns text-center">
         <p><i class="fa fa-envelope-o fa-5x"></i></p>
         <h3>Work Directly with Clients</h3><p class="text-left"> Web Developers can manage all of their clients needs and requests neatly and efficiently. Need to communicate immediately just send a quick message.</p>
       </div>
     </div>
   </div>
 </section>
 <section class="feature-sign-up">
   <div class="container">
     <div class="row">
       <div class="twelve columns">
         <h1>Sign Up <small>For a better CMS experience</small></h1>
       </div>
     </div>
   </div>
 </section>
 <section id="plans" class="sign-up-plans">
   <div class="container card">
    <div class="row">
      <div class="twelve columns">
        <!--     <img src="/assets/j-profile.png"> -->
        <h3> Mercury is an "Everything In One Place app"</h3>
        <p class="lead-in">
         A message center that is docked to your web browser when you are a logged in user. Helping you to communicate with your team and clients. Allowing you to  share and store website management data and tasks.</p>
       </div>
     </div>
     <div class="row">
      <div class="twelve columns">
        <h4><b>Pick a Plan:</b></h4>
       </div>
     </div>
     <div class="row">
       <div class="four columns card-data">
         <h4 class="text-center">Basic</h4>
         <ul>
           <li>One Admin project</li>
           <li>Up to three users</li>
           <li>Belong to unlimited projects</li>
         </ul>
         <p class="text-center"><b>FREE</b></p>
         <p class="text-center">
          <%= link_to new_user_path, class: "button button-primary" do %>
          Sign Up
          <% end %>
        </p>
      </div>
      <div class="four columns card-data">
       <h4 class="text-center">Single Project</h4>
       <ul>
         <li>One Admin project</li>
         <li>Unlimited users</li>
         <li>Belong to unlimited projects</li>
       </ul>
       <p class="text-center"><b>$9.99<small>/year</small></b></p>
       <p class="text-center">
         <%= link_to new_user_path(default_tier_id: 2), class: "button button-primary" do %>
         Sign Up
         <% end %>
       </p>
     </div>
     <div class="four columns card-data">
       <h4 class="text-center">Multi Project</h4>
       <ul>
         <li>Five Admin projects</li>
         <li>Unlimited users per project</li>
         <li>Belong to unlimited projects</li>
       </ul>
       <p class="text-center"><b>$19.99<small>/year</small></b></p>
       <p class="text-center">
         <%= link_to new_user_path(default_tier_id: 3), class: "button button-primary" do %>
         Sign Up
         <% end %>
       </p>
       <p class="text-center"><small><i>For five or more <a href="">contact us</a> for enterprise solutions</i></small></p>
     </div>
   </div>
 </div>
</section>
<section id="why">
 <div class="container">
   <div class="row">
     <div class="eight offset-by-two columns text-center">
       <h1>Why Mercury? It's Simple</h1>
       <p > Mercury was made to increase productivity for content managers and website managers. Email and other productivity apps can be clunky and corporate. The Mercury Messenger App is active only to admins and is a simple way to commmunicate with your team and clients.<h3>All in one place.</h3>
       </p>
       <p>
         <i class="fa fa-coffee fa-4x"></i>
         <i class="fa fa-commenting-o fa-5x"></i>
         <i class="fa fa-check fa-5x"></i>
       </p>
     </div>
   </div>
 </div>
</section>
<section id="features">
 <div class="container">
   <div class="row">
     <div class="twelve columns text-center">
       <h1>Full of great features and benefits</h1>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="four columns">
       <li><b>SSL-encryption.</b> Conversations stay safe and sound.</li>
       <li><b>Multi-browser support.</b> From Firefox to Windows, Safari and Chrome.</li>
       <li><b>Group messages.</b> Message single users or message as many groups as you want.</li>
       <li><b>Conversation history.</b> Admins and users have access to all past messages.</li>
     </div>
     <div class="four columns">
       <li><b>Profile image ready.</b> Personalize with a profile image and add personality to your team.</li>
       <li><b>Emoji support.</b> What would messaging be without emoji support ;)</li>
       <li><b>Username enabled.</b> Create a unique username so you can be easily discovered.</li>
       <li><b>Cloud dashboard.</b> Admins and users have access to cloud based home screen to view all of their projects in one convenient place.</li>
       <li><b>Mobile friendly.</b> Mobile enabled to give you access on the go.</li>
     </div>
     <div class="four columns">
       <li><b>Easy onboarding.</b> Mercury App makes project management and team organization extremely effective.</li>
       <li><b>Quick referencing.</b> Read back through you messages to find tasks, instruction and approvals.</li>
       <li><b>Fast approvals.</b> Admins and users can quickly communicate with clients and each other.</li>
       <li><b>Clean task management.</b> Communicate and create with your team all within your own website.</li>
     </div>
   </div>
 </div>
</section>
<section id="getting-started">
 <div class="container">
   <div class="row">
     <div class="twelve columns text-center">
       <h1>Getting Started is Easy</h1>
       <h3>Download the Mercury App Plugin</h3>
       <p class="show-desktop"><a class="button button-primary" href="https://github.com/PeekskillWebDesign/MercuryApp-WP/archive/master.zip" target="_blank">Download Plugin</a></p>
       <p>&nbsp;</p>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="twelve columns">
       <h2>For Project Admins</h2>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="four columns">
       <p><b>1. Sign Up for a Free Mercury account and add your project.</b> Once you add your project you will recieve a unique token in your email. Insert your token in the Plugin Settings for the Mercury App.
       </p>
     </div>
     <div class="four columns">
       <p><b>2. Download and install the Mercury App plugin.</b> In your WordPress dashboard select Plugins > Add New and upload the Mercury App plugin .zip file.

       </p>
     </div>
     <div class="four columns">
       <p><b>3. Start communicating with your team.</b> Add any Mercury App user immediately to your project. You can also send invites to other team members and request access to other Admin projects.</p>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="ten offset-by-one columns text-center">
       <p><b>More.</b> You can add and remove users at anytime through your account settings tab. Each user and admin also has a full screen dashboard  view of all of their conversations, user permissions and projects they belong to.</p>
       <hr>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="twelve columns">
       <h2>For All Users</h2>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="six columns">
       <p><b>1. Sign Up for a Free Mercury account.</b> Once you sign up you will have the ability to added to and communicate with unlimited admin projects.
       </p>
     </div>
     <div class="six columns">
       <p><b>2. Start communicating with others.</b> You can send requests or be added to other admin projects through your unique user name. You also have the ability to add one admin project for yourself. </p>
       <!-- <ul>
         <li>Sign up and create an account</li>
         <li>Add users to your account</li>
         <li>Install the WordPress Plugin</li>
         <li><b></b></li>
       </ul> -->
     </div>
   </div>
 </div>
</section>
<section class="">
 <div class="container">
   <div class="row">
     <div class="eight columns">
       <h1>Mercury for a better CMS experience</h1>
       <p> Guiding people through the Content management experience. Mercury is a tool to help you and your team to learn, communicate, and share with each other. <b>All in one place.</b>
       </p>
     </div>
   </div>
 </div>
</section>
<section>
 <div class="container">
   <div class="row">
     <div class="eight columns">
       <h1>Become a user and have access to unlimited projects</h1>
       <p> Once you become a Mercury user, you can be added to and have acces to an unlimited amount of projects. While you can only be added by the project admin/owner there is no limit to the amount of projects you can participate in.
       </p>
     </div>
   </div>
 </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="four columns">
      </div>
    </div><!--row-->
  </div>
</footer>

<footer class="copyright-footer">
  <div class="container">
   <div class="row">
    <p>Copyright 2016 | Mercury Messenger App</p>
  </div><!--row-->
</div>
</footer>
</div>