<div class="scroll-div" style="height:100%; width:100%; overflow: scroll;">
  <div class="desktop-nav show-desktop">
    <div id="header" class="navbar tab0">
       <div class="container">
        <div class="row">
          <span><b>M</b>ercury<b>A</b>pp</span>
          <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#plans">Plans</a></li>
            <li><a href="#why">Why MAP</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
          <ul class="u-pull-right">
            <% if current_user %>
            <li><%= link_to 'Dashboard', home_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li class="pill"><%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="mobile-nav show-mobile">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <a href="/"><h2>MercuryApp</h2></a>
          <a id="right-menu" class="u-pull-right" href="#right-menu"><i class="fa fa-bars fa-2x"></i></a>
          <div id="sidr-right" class="sidr right">
            <ul>
              <li><a href="#features">Features</a></li>
              <li><a href="#plans">Plans</a></li>
              <li><a href="#why">Why MAP</a></li>
              <% if current_user %>
              <li><%= link_to 'Dashboard', home_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
              <% else %>
              <li class="pill"><%= link_to 'Sign Up', login_path %></li>
              <li><%= link_to 'Login', login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- End mobile menu -->
<!--nav-bar-->

<!-- content -->
  <!-- ajax loader -->
  <div class="full" id="ajax-loader-message" style="display: block;">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>

  <!-- left/right arrows -->
  <div class="arrow tab0" id="left-arrow">
    <span id="left1"></span>
    <span id="left2"></span>
    <span id="left3"></span>
  </div>

  <div class="arrow tab0" id="right-arrow">
    <span id="right1"></span>
    <span id="right2"></span>
    <span id="right3"></span>
  </div>

  <!-- circles -->
  <div class="circles">
    <span class="circle tab0 is-active" id="circle0"></span><!--
    --><span class="circle tab0" id="circle1"></span><!--
    --><span class="circle tab0" id="circle2"></span>
  </div>

  <!-- START TABS -->
  <div class="landing-tabs">
    <div class="landing-tab" id="tab0">
      <div class="lt-img" id="lt-img-0">
        <div></div>
      </div>

      <div class="lt-block tab0"></div>

      <h1 class="lt-subtitle">Message-Based Task Management</h1>

      <p class="lt-quip"><span></span>A Fresh Approach to Managing Tasks Among a Team</p>

      <!-- <i class="lt-arrow fa fa-long-arrow-down tab0"></i> -->

      <div class="lt-header tab0">
        <h1>MercuryApp</h1>
      </div>
    </div>

    <div class="landing-tab" id="tab1">
      <div class="lt-img" id="lt-img-1">
        <div></div>
      </div>

      <div class="lt-block tab1"></div>

      <h1 class="lt-subtitle">For Any Project</h1>

      <p class="lt-quip"><span></span>Eliminate Barriers, Optimize Communication</p>

      <!-- <i class="lt-arrow fa fa-long-arrow-down tab1"></i> -->

      <div class="lt-header tab1">
        <h1>Projects</h1>
      </div>
    </div>

    <div class="landing-tab" id="tab2">
      <div class="lt-img" id="lt-img-2">
        <div></div>
      </div>

      <div class="lt-block tab2"></div>

      <h1 class="lt-subtitle">Manage Your Clients</h1>

      <p class="lt-quip"><span></span>Juggling Multiple Clients? MercuryApp Can Help</p>

      <!-- <i class="lt-arrow fa fa-long-arrow-down tab2"></i> -->

      <div class="lt-header tab2">
        <h1>Be a Boss</h1>
      </div>
    </div>
  </div>

  <!-- end tabs -->

  <div class="main lead-margin">
    <section class="intro">
      <div class="container">
        <div class="row">
          <img class="into-img transitionable" id="transition-0" src="https://s3.amazonaws.com/mercury-app-assets/laptop-preview.png">

          <div class="intro-content">
            <h1 class="text-center splash-header">Your Next Project Just Got a Lot More Productive</h1>
            <div class="intro-item transitionable" id="transition-1">
              <i class="fa fa-envelope-o"></i>
              <p><b>Task Management, Simplified.</b> As you message your team, mark any message as a task. It's easy.</p>
            </div>

            <div class="intro-item transitionable" id="transition-2">
              <i class="fa fa-line-chart"></i>
              <p><b>Eliminate Barriers.</b> How often does an email or text go  forgotten? MercuryApp keeps your messages and tasks in one place.</p>
            </div>

            <div class="intro-item transitionable" id="transition-3">
              <i class="fa fa-smile-o"></i>
              <p><b>Stay Busy.</b> MercuryApp gives you the tools to keep your team happy, organized, and on task.</p>
            </div>
          </div>
        </div>
      </div>
   </section>

   <section id="why">
    <div class="container">
      <div class="row">
        <div class="eight offset-by-two columns text-center">
          <h1 class="splash-header">Why Mercury? It's Simple</h1>
          <p > Mercury was made to increase productivity for your next project. Email and other productivity apps can be clunky, busy, or counterintuitive. MercuryApp layers powerful task-management features on top of a simple, familiar messaging interface.
          </p>
          <h3>Keep Your Projects in One Place</h3>
          <p>
            <i class="fa fa-coffee fa-4x transitionable" id="transition-4"></i>
            <i class="fa fa-commenting-o fa-5x transitionable" id="transition-5"></i>
            <i class="fa fa-check fa-5x transitionable" id="transition-6"></i>
          </p>
        </div>
      </div>
    </div>
   </section>

   <section id="plans" class="sign-up-plans">
     <div class="container card">
      <div class="row">
        <div class="twelve columns">
          <h1 class="text-center splash-header">Pricing</h1>
          <p class="text-center lead-in-text">
            Scaled to Your Needs
          </p>
         </div>
       </div>

       <div class="row transitionable" id="transition-7">
         <div class="four columns card-data">
            <%= link_to new_user_path, class: "splash-button" do %>
             <h4>Personal</h4>
             <ul>
               <li>Create three projects</li>
               <li>Add up to three users<small> (per project)</small></li>
               <li>Belong to unlimited projects</li>
             </ul>
             <p class="price text-center"><b>FREE</b></p>
             <p class="text-center fade-in">
              Sign Up Today
            </p>
           <% end %>
        </div>

        <div class="four columns card-data">
          <%= link_to new_user_path(default_tier_id: 2), class: "splash-button" do %>
           <h4>Startup</h4>
           <ul>
             <li>Create five projects</li>
             <li>Add up to five users<small> (per project)</small></li>
             <li>Belong to unlimited projects</li>
           </ul>
           <p class="price text-center"><b>$9.99<small>/year</small></b></p>
           <p class="text-center fade-in">
             Sign Up Today
           </p>
          <% end %>
       </div>
       <div class="four columns card-data">
        <%= link_to new_user_path(default_tier_id: 3), class: "splash-button" do %>
          <h4>Enterprise</h4>
          <ul>
            <li>Create ten projects</li>
            <li>Add up to 50 users <small> (per project)</small></li>
            <li>Belong to unlimited projects</li>
          </ul>
          <p class="price text-center"><b>$19.99<small>/year</small></b></p>
          <p class="text-center fade-in">
            Sign Up Today
          </p>
        <% end %>
       </div>
      </div>

     <div class="row">
      <div class="twelve columns">
        <p class="text-center transitionable more" id="transition-8"><small><i>Need more? <a href="mailto:admin@mercuryapp.co">Contact us</a> for business solutions.</i></small></p>
      </div>
     </div>
   </div>
  </section>

  <section id="features">
   <div class="container">
     <div class="row">
       <div class="twelve columns text-center">
         <h1 class="splash-header">Full of great features and benefits</h1>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row transitionable" id="transition-9">
       <div class="four columns">
         <li><b>Task management, simplified.</b> Mark any message as a task.</li>
         <li><b>Real-time everything.</b> No refreshing required.</li>
         <li><b>Group messages.</b> Message single users or message as many groups as you want.</li>
       </div>
       <div class="four columns">
         <li><b>Search enabled.</b> Find everything you need by searching through messages and tasks.</li>
         <li><b>Mobile friendly.</b> Responsive design to give you access on the go.</li>
         <li><b>Moniter productivity.</b> A simple interface to see pending tasks and who's working on them</li>
       </div>
       <div class="four columns">
         <li><b>Trasfer tasks.</b> Accidentally put a task in the wrong conversation? Transfer it to the correct one with ease.</li>
         <li><b>Easy onboarding.</b> Get your project members set up in no time.</li>
         <li><b>SSL-encryption.</b> Conversations stay safe and sound.</li>
       </div>
     </div>
   </div>
  </section>

  <section id="support-info">
   <div class="container">
     <div class="row">
       <div class="ten offset-by-one columns text-center">
         <h1 class="splash-header">Need help?</h1>
         <h3>Our team will be happy to assist you. </h3>
         <a href="mailto:admin@mercuryapp.co">Send us an email</a>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
       </div>
     </div>
   </div>
  </section>

  <footer class="copyright-footer">
    <div class="container">
     <div class="row">
      <p>Copyright 2016 | Mercury Messenger App</p>
    </div><!--row-->
  </div>
  </footer>
  </div>
</div>