<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>!</h1>
    <p>
      You have just been added by <b><%= @inviter.name %></b> to join <b><%= @project.name %></b>!<br>
    </p>
    <p>
      Please <a href="<%= @url %>">click here</a> to start sending messages to members of <b><%= @project.name %></b>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>