<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="padding: 0 0px 30px; border: 1px solid #ddd; max-width: 640px; border-top: none;">

      <h1 style="padding: 0 10px; color: #fff; background: #343477; font-family: helvetica, sans-serif; font-weight: 200;"><b>Evia</h1>

      <div style="padding: 50px; background: #fff; text-align: center;">

        <h1>Hello <%= @user.name %>!</h1>
        <p>
          You have just been added by <b><%= @inviter.name %></b> to join <b><%= @project.name %></b>!<br>
        </p>
        <p>
          Please <a href="<%= @url %>">click here</a> to start sending messages to members of <b><%= @project.name %></b>.
        </p>
        <p>Thanks for your time and have a great day!</p>
      </div>
    </div>
  </body>
</html>