<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.name %>!</h3>
    <p>
      The following task has been added to the project <b><%= @project.name %></b>
     by <b><%= @tasker.name %></b></p>
    <em>
      <%= simple_format(@task.message.content) %>
    </em>
    <p><a href="<%= @url %>">Click here</a> to view this message!</p>
    <p>Have a great day!</p>
    <p>The MercuryApp Dev Team</p>
  </body>
</html>