<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.name %>!</h3>
    <p>
      You have just been sent the following message by <b><%= @message.user.name %></b> on <b><%= @project.name %></b>
    </p>
    <em>
      <%= simple_format(@message.content) %>
    </em>
    <p><a href="<%= @url %>">Click here</a> to view this message!</p>
    <p>Have a great day!</p>
    <p>The MercuryApp Dev Team</p>
  </body>
</html>