<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="padding: 30px; background: #133c64; border-radius: 10px;">

      <h1 style="text-align: center; color: #fff; font-family: helvetica, sans-serif; font-weight: 200;"><b>M</b>ercury<b>A</b>pp</h1>

      <div style="padding: 50px; background: #fff; border-radius: 10px; text-align: center;">
        <h3>Hello <%= @user.name %>!</h3>
        <p>
          The following task has been added to the project <b><%= @project.name %></b>
         by <b><%= @tasker.name %></b></p>
        <div style="background-color:#ffb3b3; padding:10px; border-radius:10px 10px 0px 10px;">
          <%= simple_format(@task.message.content) %>
        </div>
        <p><a href="<%= @url %>">Click here</a> to view this message!</p>
        <p>Have a great day!</p>
        <p>The MercuryApp Dev Team</p>
      </div>
    </div>
  </body>
</html>