<div class="task-container" id="task-<%= task.id %>">
  <div class="task-icons u-pull-right">
    <% if user == message.user %>
      <i class="fa fa-exchange transfer-icon" title="Transfer task to another conversation"></i>
    <% end %>
    <!-- claim icons -->
    <% if task.incomplete? %>
      <% if user.claimed?(task) %>
        <%= link_to claim_path(user.claim_from_task(task)), method: "DELETE", class: "remove-model", title: "Remove claim on this task" do %>
          <i class="fa fa-cog claimed spin"></i>
        <% end %>
      <% else %>
        <%= link_to claims_path(claim: { user_id: user.id, task_id: task.id }), method: "POST", class: "new-model", title: "Claim this task" do %>
          <i class="fa fa-cog unclaimed hover-spin"></i>
        <% end %>
      <% end %>
    <% end %>
    <!-- end claim icons -->
    <%= link_to task_path(task), method: "DELETE", class: "remove-model", title: "Remove task" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
  <small><b><%= task.user.first_name_last_initial %></b> <i><%= message.time_ago_to_s %></i></small>
  <div class="task-item content">
    <% if task.completer_id %>
      <%= link_to task_path(task, task: { completer_id: nil }), method: "PUT", class: "uncomplete-task", title: "Mark task as not done" do %>
        <div class="task-item icon"></div>
      <% end %>
      <p>
        <%= sanitize(simple_format(message.auto_linked_content.gsub(/(?:\n\r?|\r\n?)/, '<br>')), :tags => %w(br a)) %><br>
        <small>Completed <%= task.completed_date_s %></small>
      </p>
    <% else %>
      <%= link_to task_path(task, task: { completer_id: user.id }), method: "PUT", class: "complete-task", title: "Mark task as done" do %>
        <div class="task-item icon"></div>
      <% end %>

      <p>
        <%= sanitize(simple_format(message.auto_linked_content.gsub(/(?:\n\r?|\r\n?)/, '<br>')), :tags => %w(br a)) %>
        <% if task.has_claims? %>
          <br><small><%= task.claim_text %></small>
        <% end %>
      </p>
    <% end %>
  </div>
</div>