<div class="task-container" id="task-<%= task.id %>">
<small><b><%= task.user.first_name_last_initial %></b> <i><%= task.message.time_ago_to_s %></i></small>
  <div class="task-item content">
    <% if task.completer_id %>
      <%= link_to task_path(task, task: { completer_id: nil }), method: "PUT", class: "uncomplete-task" do %>
        <div class="task-item icon"></div>
      <% end %>
      <p>
        <%= task.content %><br>
        <small>Completed <%= task.completed_date_s %></small>
      </p>
    <% else %>
      <%= link_to task_path(task, task: { completer_id: current_user.id }), method: "PUT", class: "complete-task" do %>
        <div class="task-item icon"></div>
      <% end %>

      <p><%= task.content %></p>
    <% end %>
  </div>
  <div class="delete-task u-pull-right">
    <%= link_to task_path(task), method: "DELETE", class: "remove-task" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>