<%= link_to home_path(tasks: @tasks, user_ids: conversation.user_ids, project_id: project.id) do%>
  <% if conversation == current_conversation %>
    <div class="message-item msg-item-current">
  <% elsif conversation.has_unread_messages?(user) %>
    <div class="message-item is-unread-convo">
  <% else %>
    <div class="message-item">
  <% end %>
    <div class="media">
      <% if conversation.messages.last.user.image %>
        <div class="profile-pic u-pull-left app-view-p-img">
          <img class="profile-pic" src="<%= conversation.messages.last.user.image_url %>">
        </div>
      <% else %>
        <div class="profile-pic has-no-pic u-pull-left app-view-p-img">
          <p><%= conversation.messages.last.user.first_name[0] %></p>
        </div>
      <% end %>
      <div class="bd conversation-preview">
        <h4 class="ellipsis">
          <%= conversation.other_users_to_s(user) %>
        </h4>
        <p class="ellipsis">
          <%= sanitize(simple_format(conversation.content_preview(100)), :tags => %w(br a)) %>
        </p>
        <p id="tally<%= conversation.id %>">
          <small>
          <% if conversation.has_completed_tasks? || conversation.has_pending_tasks? %>
            <% if conversation.has_pending_tasks? %>
              <span class="color-red"><%= conversation.pending_tasks.count %> Pending Tasks</span>
            <% end %>
            <% if conversation.has_completed_tasks? && conversation.has_pending_tasks? %>
             |
            <% end %>
            <% if conversation.has_completed_tasks? %>
              <span class="color-green"><%= conversation.completed_tasks.count %> Completed Tasks</span>
            <% end %>
            <% else %>
            0 Tasks
            <% end %>
          </small>
        </p>
      </div>
    </div>
  </div>
<% end %>
