<% if tasks %>
  <% unless conversation.has_pending_tasks? %>
    <div class="pending-tasks">
      <p class="no-pending-tasks">
        <b>You don't have any pending tasks.</b> <br> If you have completed tasks you can view them by clicking below <br> or add a new task by typing it into the form at the bottom of the page.
      </p>
    </div>
  <% else %>
    <div class="pending-tasks">
      <% conversation.sorted_pending_tasks.each do |task| %>
        <%= render partial: "tasks/task", locals: { task: task, message: task.message, user: current_user } %>
      <% end %>
    </div>
  <% end %>

  <% if conversation.has_completed_tasks? %>
    <h5 class="text-center"><a href="#" class="completed-tasks-btn"><span>Show</span> <%= conversation.completed_tasks.count %> Completed Tasks</a></h5>
    <div class="completed-tasks">
      <% conversation.sorted_completed_tasks.each do |task| %>
        <%= render partial: "tasks/task", locals: { task: task, message: task.message, user: current_user } %>
      <% end %>
    </div>
  <% end %>
<% elsif notes %>
  <div class="notes-convo-container">
    <div class="notes-header"></div>
    <div class="notes-container">
      <div class="notes">
        <% if conversation.has_messages? %>
          <%= render partial: "conversations/notes_lazy_load", locals: { conversation: conversation, lazy_load: lazy_load } %>
        <% else %>
          <div class="note no-note">
            <p>You don't have any notes written for <%= project.name %> yet.</p>
          </div>
          <div class="note no-note">
            <p>Notes are a great place to store information/tasks only you need!</p>
          </div>
          <div class="note no-note">
            <p>Go ahead, write a note in the form below.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: "conversations/lazy_load", locals: { conversation: conversation, lazy_load: lazy_load } %>
<% end %>
