<%= form_for conversation do |f| %>

  <div>
    <%= text_area_tag :content, nil, placeholder: "Type message here..." %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :site_id, value: site.id %>
  <% @conversation.user_ids.each do |user_id| %>
    <%= f.hidden_field :user_ids, multiple: true, value: user_id %>
  <% end %>
  <% if tasks %>
    <%= hidden_field_tag :tasks, tasks %>
  <% end %>
<% end %>