<%= form_for conversation, html: { id: "#{mb ? 'new-conversation-form' : 'new_conversation'}" } do |f| %>

  <div>
    <% if tasks %>
      <%= text_area_tag :content, nil, placeholder: "Type task here..." %>
    <% else %>
      <%= text_area_tag :content, nil, placeholder: "Type message here..." %>
    <% end %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :project_id, value: project.id %>
  <% @conversation.user_ids.each do |user_id| %>
    <%= f.hidden_field :user_ids, multiple: true, value: user_id %>
  <% end %>
  <% if tasks %>
    <%= hidden_field_tag :tasks, tasks %>
  <% end %>
  <%= f.submit class: 'button button-primary', value: 'send' %>
<% end %>