<%= form_for user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %> &nbsp;
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div style="margin-top:10px;">
    <%= f.text_field :email, placeholder:"Email" %> &nbsp;
    <%= f.password_field :password, placeholder: "Password" %>
  </div><br>

  <%= f.label :image, "Upload a Profile Image" %>
  <div>
    <%= f.file_field :file %>
  </div>

  <div class="tier-select">
    <p><b> Choose Your Level</b></p>
    <%= f.collection_radio_buttons :tier_id, Tier.all, :id, :name, checked: default_tier_id %>
  </div>

  <% if @invite_token %>
    <%= hidden_field_tag :invite_token, @invite_token %>
  <% end %>

  <div style="margin-top:1rem;">
    <%= f.submit class: 'button button-primary' %>
  </div>
<% end %>