<%= form_for user do |f| %>
  <div style="margin:15px 0;">
    <%= f.text_field :username, placeholder: "Username" %> &nbsp;
  </div>

  <div style="margin:15px 0;">
    <%= f.text_field :first_name, placeholder: "First Name" %> &nbsp;
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div style="margin:15px 0;">
    <%= f.password_field :password, placeholder: "Password" %> &nbsp;
    <%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password" %>
  </div>

  <div style="margin:15px 0;">
    <%= f.text_field :email, placeholder:"Email" %> &nbsp;
  </div><br>

  <div style="margin:15px 0;">
    <%= f.label :image, "Upload a Profile Image" %>
  </div>

  <div style="margin:15px 0;">
   <span style="margin-left:110px;"></span><%= f.file_field :file %>
  </div>

  <div class="tier-select">
    <p><b> Choose Your Level</b></p>
    <%= collection_radio_buttons nil, :tier_id, Tier.all_published, :id, :name, checked: default_tier_id %>
  </div>

  <% if @invite_token %>
    <%= hidden_field_tag :invite_token, @invite_token %>
  <% end %>

  <div style="margin:20px 0 15px;">
    <%= f.submit class: 'button button-primary' %>
  </div>
<% end %>