<%= form_for user do |f| %>
<div class="signup">

  <div class="signup-page">
    <div>
      <i class="fa fa-comment-o"></i><br><br>
      <h2>Projects Messaging and Tasks.</h2>
      <p><b>All In One Place - Sign Up for Free</b></p>
      <%= f.text_field :first_name, placeholder: "First Name" %> &nbsp;
      <%= f.text_field :last_name, placeholder: "Last Name" %> <br>
      <% if @invite %>
        <%= f.text_field :email, value: @invite.email, placeholder:"Email"%> <br>
      <% else %>
        <%= f.text_field :email, placeholder:"Email" %> <br>
      <% end %>

      <%= f.password_field :password, placeholder: "Password" %> &nbsp;
      <%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password" %><br>

      <a href="#" class="button button-primary email-next" id="next-1">Next</a> <br><br>
      Already a user? <%= link_to 'Log In', login_path %> here.

    </div>
  </div>

  <div class="signup-page"  style="display:none;">
    <div>
      <i class="fa fa-street-view"></i><br><br>
      <h2>Create Your Profile</h2>
      <p><b>Pick a username and Profile Image. Other users will be able to search for you with your unique username</b></p>
      <%= f.text_field :username, placeholder: "Username" %><br>
      <%= f.file_field :file, id: 'profile-uploader', class: 'inputfile' %>
     <label for='profile-uploader' class="button button-primary sign-up-button">Choose a Profile Picture</label>
     <img id="img-input" class="profile-preview" src="#"><br>
      <% if @invite %>
        <%= hidden_field_tag :invite_token, @invite.token %>
      <% end %>
      <%= f.submit class: 'username-next button button-primary sign-up-button button-create'%>
      <a href="#" class="back-button">Back</a>
    </div>
  </div>

</div>

<% end %>