<div class="user-data-partial text-center">
  <% if user.image %>
    <img class="profile-pic" src="<%= user.image_url %>">
  <% else %>
    <div class="profile-pic has-no-pic"><div class="table-cell"><%= user.first_name[0] %></div></div>
  <% end %>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
  <% user.sites.each do |site| %>
    <%= render partial: "sites/site_data", locals: { site: site, user: user } %>
  <% end %>
</div>
