<div class="text-center eight offset-by-two columns edit-account">
  <h1>Account Settings</h1>
  <nav>
  <a href="#" data-target="profile" class="tab-button is-active">Profile</a>
  <a href="#" data-target="settings" class="tab-button">Settings</a>
  </nav>
    <section class="tab-content" data-target="profile">
	     <div class="edit-form">
        	<h3 class="title">Edit Your Profile</h3>
          <%= form_for current_user do |f| %>
            <% if current_user.image %>
            <img id="img-input" class="profile-preview edit-page" src="<%= current_user.image_url %>"><br>
            <%= f.file_field :file, id: 'profile-uploader', class: 'inputfile' %>
               <label for='profile-uploader' class="profile-upload-label">Change Profile Image</label><br>
            <% end %>
            <div class="row">
              <div class="five offset-by-one columns edit-form_field">
                <p>Username:</p><%= f.text_field :username, placeholder: "Username" %>
              </div>
              <div class="five columns edit-form_field">
                <p>Email: </p><%= f.text_field :email, placeholder:"Email" %>
              </div>
            </div>
            <div class="row">
              <div class="five offset-by-one columns edit-form_field">
                <p>First Name: </p><%= f.text_field :first_name, placeholder: "First Name" %>
              </div>
              <div class="five columns edit-form_field">
                <p>Last Name: </p><%= f.text_field :last_name, placeholder: "Last Name" %>
              </div>
            </div>
            <div class="row">
              <div class="five offset-by-one columns edit-form_field">
                <p>Password: </p><%= f.password_field :password, placeholder: "Password" %>
              </div>
              <div class="five columns edit-form_field">
                <p>Confirm Password: </p><%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password" %>
              </div>
            </div>
              <%= f.submit class: 'button button-primary' %>
            <% end %>
            <br>
          <%= link_to 'cancel', home_path %>
        </div>
    </section>
    <section class="tab-content" data-target="settings" style="display:none;">
      <div class="edit-form">
        <h3 class="title">Edit Your Settings</h3>
        <%= render partial: "settings/form", locals: { setting: current_user.setting, user: current_user } %>
        <%= link_to 'cancel', home_path %>
      </div>
    </section>
</div>