<div class="display-table text-center eight offset-by-two columns">
	<div class="centered edit-form">
	<h1>Your Account</h1>
	<h4>Change any information below and hit the "Update" button to edit your account info.</h4>
<%= form_for current_user do |f| %>
	<p>Username: </p><%= f.text_field :username, placeholder: "Username" %> <br><br>
	<p>Email: </p><%= f.text_field :email, placeholder:"Email" %> <br><br>
  <p>First Name: </p><%= f.text_field :first_name, placeholder: "First Name" %><br><br>
  <p>Last Name: </p><%= f.text_field :last_name, placeholder: "Last Name" %><br><br>
  <p>Password: </p><%= f.password_field :password, placeholder: "Password" %> <br><br>
  <p>Confirm Password: </p><%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password" %>
  <br>
  <div>&nbsp;</div>
  <%= f.file_field :file, id: 'profile-uploader', class: 'inputfile' %>
     <label for='profile-uploader' class="button button-primary">Change Profile Image</label><br>
     <div>&nbsp;</div>
  <% if current_user.image %>
  <img id="img-input" class="profile-preview edit-page" src="<%= current_user.image_url %>"><br>
<% else %>
<% end %>
     <%= f.submit class: 'button button-primary' %>
<% end %>
<br>
<%= link_to 'cancel', :back %>

	</div>
</div>

<!-- I-Frame -->
<div id="fixed-iframe" class="pwd-init pwd-closed">
  <a href="#" id="pwd-open-btn"> <span>&#9650;</span></a>
  <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=<%= current_user.active_projects_ordered_by_admin.first.token %>"></iframe>
</div>