<!-- MODALS -->
<% if(current_user.first_visit?) %>
<div class='mask close-modal' style="display:block;"></div>
<% else %>
<div class='mask close-modal'></div>
<% end %>
<div id='manage-users' class='modal-window'>
  <div>
    <h1>Manage Users of <%= @project.name %></h1>
  <section class="tabs">
    <div class="overflow-visible">
      <ul class="tab-list">
        <li class="tab1 active-tab"><a class="button button-primary" href="#"><%= @project.name %> Users</a></li>
        <li class="tab2"><a class="button button-primary" href="#">Add Users</a></li>
        <li class="tab3"><a class="button button-primary" href="#">Invite Users</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab1 active-tab">
          <% if @project.has_other_users?(current_user) %>
            <div id="project-user-list">
              <% @project.other_users(current_user).each do |user| %>
              <p>
                <%= user.name %>
                <span class="manage-user-opts">
                  <%= link_to "Remove", user_project_path(user.find_user_project(@project)), method: "delete", class: "button button-warning button-inline" %>
                  <% if current_user.owner %>
                    <% if user.find_user_project(@project).admin %>
                      <%= link_to "Remove as Admin", user_project_path(user.find_user_project(@project), user_project: { admin: false }), method: "put", class: "button button-warning button-inline" %>
                    <% else %>
                      <%= link_to "Set as Admin", user_project_path(user.find_user_project(@project), user_project: { admin: true }), method: "put", class: "button button-primary button-inline" %>
                    <% end %>
                  <% end %>
                </span>
                <a href="#" class="manage-user-edit"> &nbsp;<i class="fa fa-pencil"></i></a>
              </p>
            <% end %>
          </div>
        <% else %>
          <p>There aren't any other users on this project yet!</p>
        <% end %>
        </div>
        <div class="tab2">
          <% if current_user.tier.permit_project_user(@project) %>
            <p>If the person is already a MercuryApp user, use the search form below, then press enter.</p>
            <%= render partial: "layouts/project_typeahead", locals: { project: @project } %>
          <% else %>
            <p>You have reached the maximum number of users for this project. If you would like to add more, please upgrade your account!</p>
            <%= link_to "Upgrade Now", edit_subscription_path(current_user.subscription), class: "button button-primary" %>
          <% end %>
        </div>
        <div class="tab3">
          <% if current_user.tier.permit_project_user(@project) %>
            <p>If the person isn't on MercuryApp yet, enter their email below and press enter. We'll send them instructions on how to sign up. <br>Once they do, they will be automatically added to your project.</p>
            <%= render partial: "invites/form", locals: { invite: @invite, project: @project } %>
          <% else %>
            <p>You have reached the maximum number of users for this project. If you would like to invite more, please upgrade your account!</p>
            <%= link_to "Upgrade Now", edit_subscription_path(current_user.subscription), class: "button button-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
 <div>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
    </div>
  </div>
</div>
<div class='mask close-modal'></div>
<div id='window' class='modal-window'>
  <div>
    <h1>Awesome! Let's add a new project to your Organization</h1>
    <%= render partial: "projects/form", locals: { project: @new_project } %>
    <div>&nbsp;</div>
    <p>You will be emailed a project token to be used to validate our WordPress Plugin</p>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='edit-project' class='modal-window'>
  <div>
    <h1>Awesome! Let's update your project</h1>
    <%= render partial: "projects/form", locals: { project: @project } %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='send-request' class='modal-window'>
  <div>
    <h1>Send Request</h1>
    <p>Type in project name you want to join and press enter</p>
    <%= render partial: "requests/typeahead", locals: { my_request: @request } %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='delete' class='modal-window'>
  <div>
    <h1>Are you sure you want to delete your project?</h1>
    <%= form_for @project do |f| %>
      <%= f.hidden_field :active, value: false %>
      <%= f.submit "Delete #{@project.name}", class: "button button-primary" %>
    <% end %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<% if current_user.admin_of_project?(@project) %>
  <div id='requests' class='modal-window'>
    <div>
      <% if @project.has_pending_requests? %>
      <h1>All Pending Requests</h1>
      <% @project.pending_requests.each do |request| %>
      <%= render partial: "requests/card", locals: { request: request } %>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
      <% end %>
      <% else %>
      <h1> You have no pending requests </h1>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
      <% end %>
    </div>
  </div>
<% end %>

<% if(current_user.first_visit?) %>
  <div id='welcome' class='modal-window' style="display:block;">
    <div>

      <i class="fa fa-certificate welcome_icon"></i>
      <h1>Welcome to Mercury<b>App</b></h1>
      <h5>Thank you for signing up. Please take some time to learn our <br> features by visiting our <%= link_to 'Support page', support_path %>.
      <br>
      <div>&nbsp;</div>
      Happy messaging!</h5 >
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
    </div>
  </div>
<% end %>

<!-- END MODALS -->
<!-- Desktop Navbar -->
<div class="menu-bar desktop-nav show-desktop">
  <span><%= link_to 'MercuryApp', splash_path %></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= current_user.name %> (<%= current_user.username %>)</span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down menu-caret" title="Edit your account"></i>
    <nav id="current-account">
     <p><b>Your Acount</b></p>
     <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
     <% if current_user.owner %>
      <li>
        <%= link_to 'Admin', owner_data_path %>
      </li>
    <% end %>
     <li><%= link_to 'Upgrade', edit_subscription_path(current_user.subscription) %></li>
     <li><%= link_to 'Logout', logout_path %></li>
   </nav>
 </nav>
</div>
<!-- End Desktop Navbar -->
<!-- Mobile Navbar -->
 <nav class="mobile-info mobile-nav show-mobile">
    <div class="mobile-icons">
      <%= link_to splash_path do %><i class="fa fa-home"></i> <% end %>
      <i class="fa fa-globe mobile-active" id="mobile-projects"></i>
      <i class="fa fa-comments" id="mobile-convos"></i>
      <i class="fa fa-comment" id="mobile-messages"></i>
      <i class="fa fa-user" id="msg-bx-acct-btn"></i>
    </div>
 </nav>
<!-- End Mobile Navbar -->
<!-- End Menu Bar -->
<div id="ajax-loader-message">
  <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>
</div>
<!-- overflow hidden wrapper -->
<div class="home-wrapper">
  <!-- INBOX SIDEBAR -->
  <div class="inbox-sidebar mobile-target">
    <header>
      <b>Your</b> Projects
        <% if current_user.tier.permit_user_project(current_user) %>
          <%= link_to new_project_path, class: "activate-modal add-btn", name: "window" do %>
          <div class="add-button-hover">
            <i class="fa fa-plus"></i>
            <div class="add-button-hover-text is-first">Add a new project</div>
          </div>
          <% end %>
        <% else %>
          <%= link_to edit_subscription_path(current_user.subscription), class: "add-btn" do %>
            <div class="add-button-hover">
              <i class="fa fa-plus"></i>
              <div class="add-button-hover-text is-first">Add a new project</div>
            </div>
          <% end %>
        <% end %>
      </header>
    <nav class="project-list">
      <% current_user.active_projects_ordered_by_admin.each do |project| %>

      <% unless current_user.admin_of_project?(project) %>
        <div class="non-admin-user" id="project-<%= project.id %>">
      <% else %>
        <div id="project-<%= project.id %>">
      <% end %>
        <% if project.has_alert?(current_user) %>
          <li class="is-unread-project ellipsis">
        <% else %>
          <li class="ellipsis">
        <% end %>
            <% if project == @admin_project %>
                <i class="fa fa-chevron-down u-pull-right open-accordian menu-caret rotated" title="Edit project"></i>
            <% end %>
            <% if current_user.admin_of_project?(project) %>
              <i class="fa fa-user admin-profile"></i>
            <% end %>
            <% if project == @project %>
            <b class="open-accordian project-target"><%= link_to project.name, '#' %></b>
            <% else %>
            <%= link_to project.name, home_path(project_id: project.id) %>
            <% end %>
            <% if project == @admin_project %>
              <div class="accordian-content">

              <ul class="edit-project-list">
                  <li>
                    <%= link_to "Manage Users", "#", class: "activate-modal", name: "manage-users" %>
                  </li>
                  <li>
                    <%= link_to "Edit project", edit_project_path(@project), class: "activate-modal", name: "edit-project" %>
                  </li>
                  <li>
                    <%= link_to "Requests", "#", class: "activate-modal", name: "requests" %>
                  <% if project.has_pending_requests? %>
                    &bull;
                  <% end %>
                  </li>
                  <li>
                    <%= link_to "Remove", "#", class: "activate-modal", name: "delete" %>
                  </li>
              </ul>
            </div>
            <% end %>
          </li>
        </div>
      <% end %>
      <% if current_user.has_unapproved_projects? %>
        <div class="text-center" id="invites-title">Invites</div>
      <% end %>
      <% current_user.unapproved_projects.each do |project| %>
        <%= render partial: "user_projects/form", locals: { user_project: current_user.find_user_project(project) } %>
      <% end %>
        <% unless current_user.has_active_projects? %>
      <div class="welcome-msg">
        <p>This section will list all of the projects you belong to automatically, as well as your admin projects.</p> <!-- <p>To create an admin project hit the plus next to "My projects". You can always view message in the help section.</p> -->
        <div class="text-center">
          <button class="button button-primary activate-modal" name="window">Add Project</button>
        </div>
      </div>
    <% end %>
      <div class="send-request">
        <div class="welcome-msg">
          <p>If you wish to be added to an existing project, click below to send a request to the admin of that project.</p>
          <div class="text-center">
            <button class="button button-primary activate-modal" name="send-request">Send Request</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Your projects Sidebar -->
  <!-- Current project Data and Conversations Area -->
  <div class="message-bar mobile-target">
    <div class="message-bar-border">
    <nav class="current-project-data">
     <header>
        <b><%= @project.name %></b> &nbsp;
                <%= link_to home_path(tasks: @tasks, project_id: @project.id, new_conversation: true), class: "add-btn" do %>
          <div class="add-button-hover">
            <i class="fa fa-plus"></i>
            <div class="add-button-hover-text">Add a new conversation</div>
          </div>
        <% end %>
        <div id="new-message">
        </div>
      </header>
    </nav>

    <% if @conversation.new_record? && current_user.has_active_projects?  %>
      <div class="message-item msg-item-current new-convo-placeholder">
      <div class="media">
           <% if current_user.image %>
          <div class="profile-pic u-pull-left app-view-p-img">
            <img class="profile-pic" src="<%= current_user.image_url %>">
          </div>
        <% else %>
          <div class="profile-pic has-no-pic u-pull-left app-view-p-img">
            <p><%= current_user.first_name[0] %></p>
          </div>
        <% end %>
        <div class="bd conversation-preview">
          <h4>
            New Conversation
          </h4>
          <p>Start messaging now</p>
        </div>
      </div>
      <% if @project.has_conversations? %>
        <%= link_to home_path(project_id: @project.id), class: "close-new-convo" do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% current_user.ordered_conversations_by_project(@project).each do |conversation| %>
    <div class="conversation-wrapper" id="conversation<%= conversation.id %>">
      <%= render partial: "conversations/app_card", locals: { conversation: conversation, current_conversation: @conversation, project: @project, user: current_user, tasks: @tasks } %>
    </div>
  <% end %>
    </div>
  </div>
  <!-- End Current project Data and Conversations Area -->
  <!-- Message Content Section -->
  <div class="message-center mobile-target">
      <header>
      <i>To:</i>
      <b> <%= @conversation.other_users_to_s(current_user) %> </b>
      <%= render partial: "layouts/typeahead_form", locals: { project: @project, conversation: @conversation, token: nil, tasks: @tasks } %>
       <a href="#" class="add-user-to-convo add-btn"><div class="add-button-hover">
            <i class="fa fa-plus"></i>
            <div class="add-button-hover-text is-last">Add a new person to the conversation</div>
          </div></a>
      </header>
      <div class="task-conversation-switch text-center">
      <% if @tasks %>
          <%= link_to "View Conversation", root_path(project_id: @project.id, mobile_conversations: true, user_ids: @conversation.user_ids), class: "convo-links" %>  |
          Tasks
        <% else %>
          Conversation  |
          <%= link_to "View Tasks", root_path(tasks: true, project_id: @project.id, user_ids: @conversation.user_ids), class: "convo-links" %>
        <% end %>
      </div>

      <div class="msg-bx-convo app-view">
        <% if @tasks %>
          <% unless @conversation.has_pending_tasks? %>
            <div class="pending-tasks">
              <p class="no-pending-tasks">
                <b>You don't have any pending tasks.</b> <br> If you have completed tasks you can view them by clicking below <br> or add a new task by typing it into the form at the bottom of the page.
              </p>
            </div>
          <% else %>
            <div class="pending-tasks">
              <% @conversation.sorted_pending_tasks.each do |task| %>
                <%= render partial: "tasks/task", locals: { task: task, user: current_user } %>
              <% end %>
            </div>
          <% end %>

          <% if @conversation.has_completed_tasks? %>
            <h5 class="text-center"><a href="#" class="completed-tasks-btn"><span>Show</span> <%= @conversation.completed_tasks.count %> Completed Tasks</a></h5>
            <div class="completed-tasks">
              <% @conversation.sorted_completed_tasks.each do |task| %>
                <%= render partial: "tasks/task", locals: { task: task, user: current_user } %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= render partial: "conversations/lazy_load", locals: { conversation: @conversation, lazy_load: @lazy_load } %>
        <% end %>
      </div>
    <div id="form-wrapper">
    <% if @conversation.other_users(current_user).length > 0 %>
      <% if @conversation.new_record? %>
        <%= render partial: "conversations/form", locals: { project: @project, conversation: @conversation, tasks: @tasks, mb: false } %>
      <% else %>
        <%= render partial: "messages/form", locals: { message: @message, conversation: @conversation, tasks: @tasks, mb: false } %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div id="mobile-current-account" class="mobile-target">
     <p><b><%= current_user.name %>'s Acount</b></p>
     <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
     <li><%= link_to 'Upgrade', root_path %></li>
     <li><%= link_to 'Logout', logout_path %></li>
   </div>
</div>

<% if current_user.active_projects_ordered_by_admin.length > 0 %>

  <!-- I-Frame -->
  <div id="fixed-iframe" class="pwd-init pwd-closed is-draggable">
    <a href="#" id="pwd-open-btn" draggable="false"> <span>+</span></a>
    <a href="#" id="pwd-move-btn" draggable="false"> <span>&harr;</span></a>
    <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=<%= current_user.active_projects.first.token %>"></iframe>
  </div>
<% end %>
