<!-- MODALS -->
<div class='mask close-modal'></div>
<div id='manage-users' class='modal-window'>
  <div>
    <h1>Manage Users of <%= @site.name %></h1>
    <hr>
    <h3>Current Users</h3>
    <% @site.other_users(current_user).each do |user| %>
      <p><%= user.name %> <%= link_to "Remove", user_site_path(user.find_user_site(@site)), method: "delete" %></p>
    <% end %>
    <hr>
    <div>
      <h3>Add Users</h3>
      <%= form_for @site do |f| %>
        <div>
          <%= f.label :user_ids, "Add Users" %>
          <%= f.collection_select(:user_ids, User.all_other_users(current_user), :id, :name,{}, {:multiple => true}) %>
        </div>
        <div>
          <%= f.submit "Add Users", class: "button button-primary" %>
        </div>
      <% end %>
    </div>
    <div>
      <a herf="#" class='close-modal'>Close</a>
    </div>
  </div>
</div>
<div class='mask close-modal'></div>
<div id='window' class='modal-window'>
  <div>
    <h1>Awesome! Let's add a new site to your Organization</h1>
    <%= render partial: "sites/form", locals: { site: @new_site } %>
    <a herf="#" class='close-modal'>Close</a>
  </div>
</div>

<div class='mask close-modal'></div>
<div id='edit-site' class='modal-window'>
  <div>
    <h1>Awesome! Let's update your site</h1>
    <%= render partial: "sites/form", locals: { site: @site } %>
    <a herf="#" class='close-modal'>Close</a>
  </div>
</div>
<div class='mask close-modal'></div>
<div id='requests' class='modal-window'>
  <div>
    <% if current_user.has_pending_received_request_by_site?(@site) %>
    <h1>All Pending Requests</h1>
    <% current_user.pending_received_requests.each do |request| %>
    <%= render partial: "requests/card", locals: { request: request } %>
    <a herf="#" class='close-modal'>Close</a>
    <% end %>
    <% else %>
    <h1> You have no pending requests </h1>
    <% end %>
  </div>
</div>

<% if(current_user.first_visit?) %>
<div class='mask close-modal' style="display:block;"></div>
  <div id='edit-site' class='modal-window' style="display:block;">
    <div>
      <h1>Welcome to Mercury<b>App</b></h1>
      <p>Thank you for signing up. Please take some time to learn our features by visiting our <a href="#">tutorials page</a>. Happy messaging!</p>
      <a herf="#" class='close-modal'>Close</a>
    </div>
  </div>
<% end %>

<!-- END MODALS -->
<div class="menu-bar">
  <span>Mercury<b>App</b></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= current_user.name %></span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down" title="Edit your account"></i>
    <nav id="current-account">
     <h4>Your User Account</h4>
     <li>Settings </li>
     <li>Free Level 1<small style="color:red;"> Upgrade now</small></li>
     <%= link_to logout_path do %> <li>Log Out</li>
     <% end %>
   </nav>
 </nav>
 <!-- End User Account Section -->
</div>
<!-- End Menu Bar -->
<div class="inbox-sidebar">
  <header>
    <h4>Your sites</h4>
      <%= link_to new_site_path, class: "activate-modal", name: "window" do %>
      <i class="fa fa-plus u-pull-right" title="Add a new site"></i>
      <% end %>
    </header>
  <nav class="site-list">
  <div class="welcome-msg">
    <p>This section will list all of the sites you belong to automatically, as well as your admin sites. To create an admin site hit the plus next to "My Sites" You can always view message in the help section</p>
  </div>
    <% current_user.sites.each do |site| %>
      <li>
        <% if site == @admin_site %>
          <i class="fa fa-pencil u-pull-right open-accordian" title="Edit Site"></i>
        <% end %>
        <%= link_to site.name, home_path(site_id: site.id) %>
        <!-- Requests Div I f Needed-->
        <!-- <div class="requests">33</div> -->
        <!-- End Requests Div -->
        <!-- Edit Site List Accordian -->
        <div class="accordian-content">
          <ul class="edit-site-list">
            <% if site == @admin_site %>
              <li>
                <%= link_to "Manage Users", "#", class: "activate-modal", name: "manage-users" %>
              </li>
              <li>
                <%= link_to "Edit Site", edit_site_path(@site), class: "activate-modal", name: "edit-site" %>
              </li>
              <li>
                <%= link_to "Requests", "#", class: "activate-modal", name: "requests" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </nav>
</div>
<!-- End Your Sites Sidebar -->
<!-- Current Site Data and Conversations Area -->
<div class="message-bar">
  <nav class="current-site-data">
    <span><%= @site.name %> Conversations</span>
    <a id ="new-message-trigger"><i class="fa fa-plus"></i></a>
    <div id="new-message">
      <%= render partial: "conversations/form", locals: { conversation: @new_conversation, site: @site } %>
    </div>
  </nav>
    <div class="welcome-msg"><p>All active site conversations will appear here. Click the plus next to conversations to start a conversation or click a conversation to display your messages in the conversation window. <b>Make sure you have  added users to converse with</b></p></div>
  <% if current_user.has_conversations_by_site?(@site) %>
  <% current_user.conversations_by_site(@site).each do |conversation| %>
  <%= link_to home_path(user_ids: conversation.user_ids, site_id: @site.id) do%>
  <% if conversation == @conversation %>
    <div class="message-item msg-item-current">
  <% else %>
    <div class="message-item">
  <% end %>
    <div class="media">
      <% if conversation.messages.last.user.image %>
      <div class="profile-pic u-pull-left app-view-p-img">
        <img src="<%= conversation.messages.last.user.image_url %>">
      </div>
      <% else %>
      <div class="profile-pic no--pic u-pull-left app-view-p-img">
        <%= conversation.messages.last.user.first_name[0] %>
      </div>
      <% end %>
      <div class="bd">
        <h4>
        <%= conversation.abbreviated_other_users_to_s(current_user, 20) %>
        </h4>
          <%= simple_format(conversation.content_preview(30)) %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% else %>
  <h5>You don't have any conversations for this site... yet.</h5>
  <% end %>
</div>
<!-- Message Content Section -->
<div class="message-center">
    <header>
    <i><%= current_user.name %>'s conversation with:</i>
    <b> <%= @conversation.other_users_to_s(current_user) %> </b>
    </header>
    <div class="msg-bx-convo app-view">
      <% @conversation.messages.each do |message| %>
        <%= render partial: "messages/message", locals: { message: message } %>
      <% end %>
    </div>
  <% unless @conversation.new_record? %>
         <%= render partial: "messages/form", locals: { message: @message, conversation: @conversation } %>
       <% end %>
       <% if current_user.sites.count > 0 %>
</div>
<!-- I-Frame -->
<div id="fixed-iframe" class="pwd-init pwd-closed">
  <a href="#" id="pwd-open-btn"> <span>&#9650;</span></a>
  <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=RXyS8w4ZGCwAbY3i4DF7o"></iframe>
</div>
<% end %>
