<div class="app-header">
  <nav class="logo">
    <h2><b>MESSAGE</b><small>ES</small></h2>
  </nav>
  <nav class="current-site-data">
  <span><%= @site.name %></span>
  <%= link_to new_conversation_path(site_id: @site.id) do %>
    <small>New Message</small>
   <% end %>
      <% if current_user.admin_of_site?(@site) %>
      <%= link_to add_users_site_path(@site) do %>
      <small title="Add a new user">Users &#9662;</small>
      <% end %>
      <% end %>
  </nav>
  <nav class="profile-data">
  <span><%= current_user.name %></span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down" title="Edit your account"></i>
    <nav id="current-account">
   <h4>Your User Account</h4>
     <li>Settings </li>
     <li>Free Level 1<small style="color:red;"> Upgrade now</small></li>
      <%= link_to logout_path do %> <li>Log Out</li>
      <% end %>
   </nav>
  </nav>
</div>
<div class="sidebar">
  <h3>Your sites
     <%= link_to new_site_path, class: "activate-modal", name: "window" do %>
      <i class="fa fa-plus u-pull-right" title="Add a new site"></i>
     <% end %>
   <div id='mask' class='close-modal'></div>  
  <div id='window' class='modal-window'>
  <div class="background-class">
  
      <div>
        <h1>Awesome! Let's add a new site to your Organization</h1> 
        <%= render partial: "sites/form", locals: { site: @site } %>
  
  </div>
</div>
  </div>  
  </h3>
  <nav>
    <% current_user.sites.each do |site| %>
    <li>
      <%= link_to site.name, home_path(site_id: site.id) %>
      <% if current_user.admin_of_site?(@site) %>
      <%= link_to add_users_site_path(site) do %>
      <i class="fa fa-user-plus u-pull-right" title="Add a new user"></i>
      <% end %>
      <% end %>
    </li>
    <% end %>
  </nav>
</div>
<div class="message-bar">
<% if current_user.has_conversations_by_site?(@site) %>
<% current_user.conversations_by_site(@site).each do |conversation| %>
  <%= link_to home_path(user_ids: conversation.user_ids, site_id: @site.id) do%>
  <div class="message-item">
    <div class="media">
      <%= image_tag "j-profile", class: "profile-img" %>
      <div class="bd">
        <h5><%= conversation.abbreviated_other_users_to_s(current_user, 20) %></h5>
        <p>
          <%= simple_format(conversation.content_preview(30)) %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
<% else %>
<h5>You don't have any conversations for this site... yet.</h5>
<% end %>
</div>
<div class="message-content">
  <% @conversation.messages.each do |message| %>
  <span class="u-pull-right date-new-date"
  <i><%= message.date_to_s %></i>
  <i><%= message.time_to_s %></i>
</span>
<div class="message-data">
  <h4><%= message.user.name %></h4>
  <%= simple_format(message.content) %>
</div>
<% end %>
<% unless @conversation.new_record? %>
<%= render partial: "messages/form", locals: { message: @message, conversation: @conversation } %>
<% end %>
</div>
<% if current_user.sites.count > 0 %>
  <div id="fixed-iframe" class="pwd-init pwd-closed">
    <a href="#" id="pwd-open-btn"> <span>&#9650;</span></a>
    <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=<%= current_user.sites.first.token %>"></iframe>
  </div>
<% end %>
