<!-- ********************* MODALS *********************** -->

<!-- MODAL MASK -->
<% if(current_user.first_visit?) %>
<div class='mask close-modal' style="display:block;"></div>
<% else %>
<div class='mask close-modal'></div>
<% end %>
<!-- END MODAL MASK -->


<!-- MANAGE USERS MODAL (partial - users/manage_users) -->
<%= render partial: 'users/manage_users', locals: { user: current_user, project: @project } %>
<!-- END MANAGE USERS MODAL -->

<!-- INVITE USERS MODAL -->
<div class='mask close-modal'></div>
<div id='invite-users' class='modal-window'>
  <h1>Invite someone to use Mercury</h1>
  <% if current_user.tier.permit_project_user(@project) %>
    <p>Enter their email below and press enter. We'll send them instructions on how to sign up. <br>Once they do, they will be automatically added to your project.</p>
    <%= render partial: "invites/form", locals: { invite: @invite, project: @project } %>
  <% else %>
    <p>You have reached the maximum number of users for this project. If you would like to invite more, please upgrade your account!</p>
    <%= link_to "Upgrade Now", edit_subscription_path(current_user.subscription), class: "button button-primary" %>
  <% end %>
  <a herf="#" class='activate-modal' name="manage-users">Cancel</a>
</div>
<!-- END INVITE USERS MODAL -->

<!-- NEW PROJECT MODAL -->
<div class='mask close-modal'></div>
<div id='window' class='modal-window'>
  <div>
    <h1>Let's make a new project!</h1>
    <p class="modal-text">Please enter a name for your new project. Once you've created your project you can add users to message by clicking <b>MANAGE USERS</b> under the project name in your dashboard.</p><p><b>Projects Remaining: <%= current_user.remaining_projects_count %></b>.</p> <p><small>If you would like to add more projects please visit our <%= link_to 'Edit Subscription Page', edit_subscription_path(current_user.subscription) %></small></p>
    <%= render partial: "projects/form", locals: { project: @new_project } %>
    <div>&nbsp;</div>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>
<!-- END NEW PROJECT MODAL -->

<!-- EDIT PROJECT MODAL -->
<div id='edit-project' class='modal-window'>
  <div>

    <h1>Edit <%= @project.name %></h1>
    <hr class="fifty">
    <p>Change your project's name by changing it below and hitting <b>UPDATE PROJECT</b>
    <%= render partial: "projects/form", locals: { project: @project } %>
    <hr class="fifty">
    <p> Do you want to delete <%= @project.name %>? This cannot be undone</p>
    <a href="#" class="activate-modal" name="delete">Delete</a>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>
<!-- END EDIT PROJECT MODAL -->

<!-- DELETE PROJECT MODAL -->
<div id='delete' class='modal-window'>
  <div>
    <h1>Are you sure you want to delete <%= @project.name %>?</h1>
    <h4>This cannot be undone</h4>
    <%= form_for @project do |f| %>
      <%= f.hidden_field :active, value: false %>
      <%= f.submit "Delete #{@project.name}", class: "button button-warning" %>
    <% end %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>
<!-- END DELETE PROJECT MODAL-->

<!-- WELCOME MODAL-->
<% if(current_user.first_visit?) %>

  <div id='welcome' class='modal-window' style="display:block;">
    <div>

      <i class="fa fa-certificate welcome_icon"></i>
      <h1>Welcome to Mercury<b>App</b></h1>
      <h3>Getting started is easy!</h3>
      <hr class="fifty">
      <h4><b>1. Add a project</b></h4>
      <%= image_tag 'https://s3.amazonaws.com/mercury-app-assets/welcome-modal-1.jpg',class: 'welcome-image' %>
      <p class="welcome-text">Projects are at the core of how Mercury App works. A project can be anything from a group school project to a place for messages and task to be shared for an entire company.</p>
      <hr class="fifty">
      <br>
      <h4><b>2. Add Some Users</b></h4>
      <%= image_tag 'https://s3.amazonaws.com/mercury-app-assets/welcome-modal-2.jpg',class: 'welcome-image' %>
      <p class="welcome-text">You can't message anyone without other people in your project! Go go to the manage users button under your project name to add people to your project. If they are already Mercury App users you can simply add them or you can invite them by email if they are not!</p>
      <br>
      <hr class="fifty">
      <h4><b>3. Start a New Conversation</b></h4>
      <%= image_tag 'https://s3.amazonaws.com/mercury-app-assets/welcome-modal-3.jpg',class: 'welcome-image' %>
      <p class="welcome-text">Click new conversation to open a new message thread in the next section. Choose what users you want to talk to in the messages section by typing their name into the area after <b>to:</b></p>
      <br>
      <hr class="fifty">
      <h4><b>4. Start Messaging</b></h4>
      <%= image_tag 'https://s3.amazonaws.com/mercury-app-assets/welcome-modal-4.jpg',class: 'welcome-image' %>
      <p class="welcome-text">This section will allow you to message a single user in your project or multiple users. Keep all of your communication about a project in one place! You can make any message a task by clicking the icon below the message. When the message turns red you'll know it is a pending task. When it is complete it will turn green!</p>
      <br>
      <hr class="fifty">
      <h4><b>5. Start Setting Tasks</b></h4>
      <%= image_tag 'https://s3.amazonaws.com/mercury-app-assets/welcome-modal-5.jpg',class: 'welcome-image' %>
      <p class="welcome-text">Checkout all of your conversation's tasks by clicking view tasks at the top of the message section. From there, you can claim the task to tell everyone you are working on it. If you created the task you can even move it to a different conversation. Don't forget to mark it done by clicking the red dot when you're finished!</p>
      <br>
      <hr class="fifty">

      <p>if you need more help please visit our <%= link_to 'support page', support_path %> to se the FAQ and to message our support team.</p>

      <h3>Happy Messaging!</h3>
      <a href="#" class="close-modal-text">Close this page</a>
    </div>
  </div>
<% end %>
<!-- WELCOME MODAL-->

<!-- ********************* END MODALS *********************** -->

<!-- Desktop Navbar -->
<div class="menu-bar desktop-nav show-desktop">
  <span><%= link_to 'MercuryApp', splash_path %></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= current_user.name %> | <span class="header-username"><%= current_user.username %></span></span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down menu-caret" title="Edit your account"></i>
    <nav id="current-account">
     <p><b>Your Acount</b></p>
     <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
     <% if current_user.owner %>
      <li>
        <%= link_to 'Admin', owner_data_path %>
      </li>
    <% end %>
      <li>
        <%= link_to tiers_path do %>
          Upgrade<br><small>Current Tier: <b><%= current_user.tier.name %></b></small>
        <% end %>
      </li>
     <li><%= link_to 'Logout', logout_path %></li>
   </nav>
 </nav>
</div>
<!-- End Desktop Navbar -->
<!-- Mobile Navbar -->
 <nav class="mobile-info mobile-nav show-mobile">
    <div class="mobile-top-menu">
      <%= link_to 'MercuryApp', splash_path %>
      <span class="u-pull-right"><%= @project.name %></span>
    </div>
    <div class="mobile-icons">
      <a class="button mobile-button mobile-active" id="mobile-projects">Projects</a>
      <a class="button mobile-button" id="mobile-convos">Coversations</a>
      <a class="button mobile-button" id="msg-bx-acct-btn">Account</a>
      <!-- <i class="fa fa-globe mobile-active" id="mobile-projects"></i>
      <i class="fa fa-comments" id="mobile-convos"></i>
      <i class="fa fa-comment" id="mobile-messages"></i>
      <i class="fa fa-user" id="msg-bx-acct-btn"></i> -->
    </div>
 </nav>
<!-- End Mobile Navbar -->
<!-- End Menu Bar -->
<div id="ajax-loader">
  <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>
</div>

<% if @has_active_projects %>
  <div id="transfer-cover"></div>
<% else %>
  <div class="is-transitioned" id="transfer-cover"></div>
<% end %>

<!-- overflow hidden wrapper -->
<div class="home-wrapper">
  <!-- INBOX SIDEBAR -->
  <% if @has_active_projects %>
    <div class="inbox-sidebar mobile-target hide-scrollbar">
  <% else %>
    <div class="inbox-sidebar mobile-target hide-scrollbar is-transitioned">
  <% end %>
    <header>
      <b>Your</b> Projects
        <% if current_user.tier.permit_user_project(current_user) %>
          <%= link_to new_project_path, class: "activate-modal add-btn", name: "window" do %>
            <div class="tool-button-hover">
              <p>New Project</p>
              <div class="tool-button-hover-text is-first"><small><%= current_user.remaining_projects_count %> Remaining</small>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to edit_subscription_path(current_user.subscription), class: "add-btn" do %>
            <div class="add-button-hover">
              <div class="add-button-hover-text is-first"><small>Upgrade to Add New Project</small>
              </div>
            </div>
          <% end %>
        <% end %>
      </header>
    <nav class="project-list">
      <% current_user.active_projects_ordered_by_admin.each do |project| %>

      <% unless current_user.admin_of_project?(project) %>
        <div class="non-admin-user" id="project-<%= project.id %>">
      <% else %>
        <div id="project-<%= project.id %>">
      <% end %>
        <% if project.has_alert?(current_user) %>
          <li class="is-unread-project ellipsis">
        <% else %>
          <li class="ellipsis">
        <% end %>
            <% if project == @admin_project %>
                <i class="fa fa-chevron-down u-pull-right open-accordian menu-caret rotated" title="Edit project"></i>
            <% end %>
            <% if current_user.admin_of_project?(project) %>
              <i class="fa fa-user admin-profile"></i>
            <% end %>
            <% if project == @project %>
            <b class="open-accordian project-target"><%= link_to project.name, '#' %></b>
            <% else %>
            <%= link_to project.name, home_path(project_id: project.id) %>
            <% end %>
            <% if project == @admin_project %>
              <div class="accordian-content">

              <ul class="edit-project-list">
                  <li>
                    <%= link_to "Manage Users", "#", class: "activate-modal", name: "manage-users" %>
                  </li>
                  <li>
                    <%= link_to "Edit project", edit_project_path(@project), class: "activate-modal", name: "edit-project" %>
                  </li>
              </ul>
            </div>
            <% end %>
          </li>
        </div>
      <% end %>
      <% if current_user.has_unapproved_projects? %>
        <div class="text-center" id="invites-title">Invites</div>
      <% end %>
      <% current_user.unapproved_projects.each do |project| %>
        <%= render partial: "user_projects/form", locals: { user_project: current_user.find_user_project(project) } %>
      <% end %>

      <% unless current_user.has_active_projects? %>
        <div class="welcome-msg new-project-cta">
          <p><b>Click 'New Project' to add your first project!</b></p>
          <i class="fa fa-level-up u-pull-right"></i>
        </div>
      <% end %>
    </nav>
  </div>
  <!-- End Your projects Sidebar -->
  <!-- Current project Data and Conversations Area -->
  <div class="message-bar hide-scrollbar mobile-target">
    <div id="transfer-header">
      Select conversation to transfer task to
      <i class="fa fa-times u-pull-right" id="transfer-close"></i>
    </div>
    <div class="message-bar-border">
    <nav class="current-project-data">
     <header>
        <b><%= @project.name %></b> &nbsp;

        <%= link_to home_path(tasks: @tasks, project_id: @project.id, new_conversation: true), class: "add-btn" do %>
          <p>New Conversation</p>
        <% end %>
        <div id="new-message">
        </div>
      </header>
    </nav>

    <% unless @project.new_record? %>
      <div class="notes-wrapper" id="notes<%= @notes_conversation.id %>" data-convo-id="<%= @notes_conversation.id %>" data-convo-token="<%= @notes_conversation.token %>">
        <%= render partial: "conversations/notes_card", locals: { conversation: @notes_conversation, current_conversation: @conversation, project: @project, user: current_user, tasks: @tasks } %>
      </div>
    <% end %>

    <% if @conversation.new_record? && current_user.has_active_projects?  %>
      <div class="message-item msg-item-current new-convo-placeholder">
      <div class="media">
           <% if current_user.image %>
          <div class="profile-pic u-pull-left app-view-p-img">
            <img class="profile-pic" src="<%= current_user.image_url %>">
          </div>
        <% else %>
          <div class="profile-pic has-no-pic u-pull-left app-view-p-img">
            <p><%= current_user.first_name[0] %></p>
          </div>
        <% end %>
        <div class="bd conversation-preview">
          <h4>
            New Conversation
          </h4>
          <p>Start messaging now</p>
        </div>
      </div>
      <% if @project.has_conversations? %>
        <%= link_to home_path(project_id: @project.id), class: "close-new-convo" do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="conversations-wrapper">
    <% current_user.ordered_conversations_by_project(@project).each do |conversation| %>
      <div class="conversation-wrapper" id="conversation<%= conversation.id %>" data-convo-id="<%= conversation.id %>" data-convo-token="<%= conversation.token %>">
        <%= render partial: "conversations/app_card", locals: { conversation: conversation, current_conversation: @conversation, project: @project, user: current_user, tasks: @tasks } %>
      </div>
    <% end %>
  </div>
    </div>
  </div>
  <!-- End Current project Data and Conversations Area -->


  <div id="mobile-current-account" class="mobile-target">
    <p><b><%= current_user.name %>'s Acount</b></p>
    <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
    <li><%= link_to 'Upgrade', root_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  </div>
  <!-- Message Content Section -->
  <div class="message-center mobile-target">
    <%= render partial: "conversations/message_center", locals: { notes: @notes, message: @message, tasks: @tasks, conversation: @conversation, project: @project } %>
  </div>

</div>


<% if current_user.active_projects_ordered_by_admin.length > 0 %>

  <!-- I-Frame -->
<!--   <div id="fixed-iframe" class="pwd-init pwd-closed">
    <a href="#" id="pwd-open-btn"> <span>&#9650;</span></a>
    <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="https://guarded-eyrie-2585.herokuapp.com/message_box?token=<%= current_user.active_projects_ordered_by_admin.first.token %>"></iframe>
  </div> -->
<% end %>
