<!-- MODALS -->

<div id='mask' class='close-modal'></div>
<div id='window' class='modal-window'>
    <div>
      <h1>Awesome! Let's add a new site to your Organization</h1>
      <%= render partial: "sites/form", locals: { site: @new_site } %>
      <a herf="#" class='close-modal'>Close</a>
  </div>
</div>

<div id='mask' class='close-modal'></div>
<div id='edit-site' class='modal-window'>
    <div>
      <h1>Awesome! Let's update your site</h1>
      <%= render partial: "sites/form", locals: { site: @site } %>
      <a herf="#" class='close-modal'>Close</a>
  </div>
</div>

<div id='mask' class='close-modal'></div>
<div id='requests' class='modal-window'>
    <div>
      <h1>All Pending Requests</h1>
      <% current_user.pending_received_requests.each do |request| %>
        <%= render partial: "requests/card", locals: { request: request } %>
        <a herf="#" class='close-modal'>Close</a>
      <% end %>
  </div>
</div>

<!-- END MODALS -->

<div class="menu-bar">
  <span>Mercury<b>App</b></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= current_user.name %></span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down" title="Edit your account"></i>
    <nav id="current-account">
     <h4>Your User Account</h4>
     <li>Settings </li>
     <li>Free Level 1<small style="color:red;"> Upgrade now</small></li>
     <%= link_to logout_path do %> <li>Log Out</li>
     <% end %>
   </nav>
 </nav>
 <!-- End User Account Section -->
</div>
<!-- End Menu Bar -->
  <div class="inbox-sidebar">
  <h4>Your sites</h4>
     <%= link_to new_site_path, class: "activate-modal", name: "window" do %>
     <i class="fa fa-plus u-pull-right" title="Add a new site"></i>
     <% end %>
  <nav class="site-list">
    <% current_user.sites.each do |site| %>
    <li>
      <% if @site == site %>
        <i class="fa fa-list open-accordian" title="Edit Site"></i>
      <% end %>
      <%= link_to site.name, home_path(site_id: site.id) %>
      <% if current_user.admin_of_site?(@site) %>
      <%= link_to add_users_site_path(site) do %>
      <% end %>
      <% end %>
      <!-- Requests Div -->
      <div class="requests">33</div>
      <!-- End Requests Div -->
      <!-- Edit Site List Accordian -->
      <div class="accordian-content">
        <ul class="edit-site-list">
          <li>Manage Users</li>
          <li>
            <%= link_to "Edit Site", edit_site_path(@site), class: "activate-modal", name: "edit-site" %>
          </li>
          <li>
            <%= link_to "Requests", "#", class: "activate-modal", name: "requests" %>
          </li>
        </ul>
      </div>
    </li>
    <% end %>
  </nav>
</div>
<!-- End Your Sites Sidebar -->
<!-- Current Site Data and Message Area -->
<div class="message-bar">
<nav class="current-site-data">
  <span><%= @site.name %> Conversations</span>
  <a id ="new-message-trigger"><i class="fa fa-plus"></i></a>
  <div id="new-message">
    <%= render partial: "conversations/form", locals: { conversation: @new_conversation, site: @site } %>
  </div>
</nav>
  <% if current_user.has_conversations_by_site?(@site) %>
  <% current_user.conversations_by_site(@site).each do |conversation| %>
  <%= link_to home_path(user_ids: conversation.user_ids, site_id: @site.id) do%>
  <div class="message-item">
    <div class="media">
    <% if conversation.messages.last.user.image %>
              <div class="profile-pic u-pull-left app-view-p-img">
                  <img src="<%= conversation.messages.last.user.image_url %>">
              </div>
              <% else %>
              <div class="profile-pic no--pic u-pull-left app-view-p-img">
                <%= conversation.messages.last.user.first_name[0] %>
              </div>
              <% end %>
      <div class="bd">
        <h5><%= conversation.abbreviated_other_users_to_s(current_user, 20) %></h5>
        <p>
          <%= simple_format(conversation.content_preview(30)) %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% else %>
  <h5>You don't have any conversations for this site... yet.</h5>
  <% end %>
</div>
<!-- Message Content Section -->
<div class="msg-bx-convo app-view">
  <% @conversation.messages.each do |message| %>
    <%= render partial: "messages/message", locals: { message: message } %>
  <% end %>
</div>
<% unless @conversation.new_record? %>
  <%= render partial: "messages/form", locals: { message: @message, conversation: @conversation } %>
<% end %>
<% if current_user.sites.count > 0 %>
<div id="fixed-iframe" class="pwd-init pwd-closed">
  <a href="#" id="pwd-open-btn"> <span>&#9650;</span></a>
  <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=<%= current_user.sites.first.token %>"></iframe>
</div>
<% end %>
