<!-- MODALS -->
<% if(current_user.first_visit?) %>
<div class='mask close-modal' style="display:block;"></div>
<% else %>
<div class='mask close-modal'></div>
<% end %>
<div id='manage-users' class='modal-window'>
  <div>
    <h1>Manage Users of <%= @site.name %></h1>
  <section class="tabs">
    <div class="overflow-visible">
      <ul class="tab-list">
        <li class="tab1 active-tab"><a href="#"><%= @site.name %> Users</a></li>
        <li class="tab2"><a href="#">Add Users</a></li>
        <li class="tab3"><a href="#">Invite Users</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab1 active-tab">
          <% if @site.has_other_users?(current_user) %>
            <div id="site-user-list">
              <% @site.other_users(current_user).each do |user| %>
              <p>
                <%= user.name %>
                <span class="manage-user-opts">
                  <%= link_to "Remove", user_site_path(user.find_user_site(@site)), method: "delete", class: "button button-warning button-inline" %>
                  <% if user.find_user_site(@site).admin %>
                    <%= link_to "Remove as Admin", user_site_path(user.find_user_site(@site), user_site: { admin: false }), method: "put", class: "button button-warning button-inline" %>
                  <% else %>
                  <%= link_to "Set as Admin", user_site_path(user.find_user_site(@site), user_site: { admin: true }), method: "put", class: "button button-primary button-inline" %>
                  <% end %>
                </span>
                <a href="#" class="manage-user-edit"> &nbsp;<i class="fa fa-pencil"></i></a>
              </p>
            <% end %>
          </div>
        <% else %>
          <p>There aren't any other users on this site yet!</p>
        <% end %>
        </div>
        <div class="tab2">
        <p>If the person is already a MercuryApp user, use the search form below, then press enter.</p>
        <%= render partial: "layouts/site_typeahead", locals: { site: @site } %>
        </div>
        <div class="tab3">
         <p>If the person isn't on MercuryApp yet, enter their email below and press enter. We'll send them instructions on how to sign up. <br>Once they do, they will be automatically added to your site.</p>
        <%= render partial: "invites/form", locals: { invite: @invite, site: @site } %>
        </div>
      </div>
    </div>
  </section>
 <div>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
    </div>
  </div>
</div>
<div class='mask close-modal'></div>
<div id='window' class='modal-window'>
  <div>
    <h1>Awesome! Let's add a new site to your Organization</h1>
    <%= render partial: "sites/form", locals: { site: @new_site } %>
    <div>&nbsp;</div>
    <p>You will be emailed a site token to be used to validate our WordPress Plugin</p>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='edit-site' class='modal-window'>
  <div>
    <h1>Awesome! Let's update your site</h1>
    <%= render partial: "sites/form", locals: { site: @site } %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='send-request' class='modal-window'>
  <div>
    <h1>Send Request</h1>
    <p>Type in site name you want to join and press enter</p>
    <%= render partial: "requests/typeahead", locals: { my_request: @request } %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<div id='delete' class='modal-window'>
  <div>
    <h1>Are you sure you want to delete your site?</h1>
    <%= form_for @site do |f| %>
      <%= f.hidden_field :active, value: false %>
      <%= f.submit "Delete #{@site.name}", class: "button button-primary" %>
    <% end %>
    <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
  </div>
</div>

<% if current_user.admin_of_site?(@site) %>
  <div id='requests' class='modal-window'>
    <div>
      <% if @site.has_pending_requests? %>
      <h1>All Pending Requests</h1>
      <% @site.pending_requests.each do |request| %>
      <%= render partial: "requests/card", locals: { request: request } %>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
      <% end %>
      <% else %>
      <h1> You have no pending requests </h1>
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
      <% end %>
    </div>
  </div>
<% end %>

<% if(current_user.first_visit?) %>
  <div id='welcome' class='modal-window' style="display:block;">
    <div>

      <i class="fa fa-certificate welcome_icon"></i>
      <h1>Welcome to Mercury<b>App</b></h1>
      <h5>Thank you for signing up. Please take some time to learn our <br> features by visiting our <%= link_to 'FAQ page', support_path %>. Happy messaging!</h5 >
      <a herf="#" class='close-modal close-modal-btn'><i class="fa fa-times"></i></a>
    </div>
  </div>
<% end %>

<!-- END MODALS -->
<!-- Desktop Navbar -->
<div class="menu-bar desktop-nav show-desktop">
  <span><%= link_to 'MercuryApp', splash_path %></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= current_user.name %> (<%= current_user.username %>)</span>
    <i class="fa fa-user"></i>
    <i id="users-account" class="fa fa-chevron-down menu-caret" title="Edit your account"></i>
    <nav id="current-account">
     <p><b>Your Acount</b></p>
     <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
     <% if current_user.owner %>
      <li>
        <%= link_to 'Admin', owner_data_path %>
      </li>
    <% end %>
     <li><%= link_to 'Upgrade', edit_subscription_path(current_user.subscription) %></li>
     <li><%= link_to 'Logout', logout_path %></li>
   </nav>
 </nav>
</div>
<!-- End Desktop Navbar -->
<!-- Mobile Navbar -->
<div class="menu-bar mobile-nav show-mobile">
  <span><%= link_to 'MercuryApp', splash_path %></span>
  <!-- User Account Section -->
  <nav class="profile-data">
    <span><%= @site.name %></span>
 </nav>
</div>
 <nav class="mobile-info mobile-nav show-mobile">
    <div class="mobile-icons">
      <i class="fa fa-globe mobile-active" id="mobile-sites"></i>
      <i class="fa fa-comments" id="mobile-convos"></i>
      <i class="fa fa-comment" id="mobile-messages"></i>
      <i class="fa fa-user" id="msg-bx-acct-btn"></i>
    </div>
    <p class="user-name"><%= current_user.name %></p>
 </nav>
<!-- End Mobile Navbar -->
<!-- End Menu Bar -->
<div id="ajax-loader-message">
  <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>
</div>
<!-- overflow hidden wrapper -->
<div class="home-wrapper">
  <!-- INBOX SIDEBAR -->
  <div class="inbox-sidebar mobile-target">
    <header>
      <b>Your</b> sites
        <%= link_to new_site_path, class: "activate-modal add-btn", name: "window" do %>
        <i class="fa fa-plus" title="Add a new site"></i>
        <% end %>
      </header>
    <nav class="site-list">
      <% current_user.active_sites_ordered_by_admin.each do |site| %>

      <% unless current_user.admin_of_site?(site) %>
        <div class="non-admin-user">
      <% else %>
        <div>
      <% end %>
        <% if current_user.has_unread_conversations_by_site?(site) %>
          <li class="is-unread-site">
        <% else %>
          <li>
        <% end %>
            <% if site == @admin_site %>
                <i class="fa fa-chevron-down u-pull-right open-accordian menu-caret" title="Edit Site"></i>
            <% end %>
            <% if current_user.admin_of_site?(site) %>
              <i class="fa fa-user admin-profile"></i>
            <% end %>
            <% if site == @site %>
            <b class="open-accordian site-target"><%= link_to site.name, '#' %></b>
            <% else %>
            <%= link_to site.name, home_path(site_id: site.id) %>
            <% end %>
            <% if site == @admin_site %>
              <div class="accordian-content">

              <ul class="edit-site-list">
                  <li>
                    <%= link_to "Add/Remove Users", "#", class: "activate-modal", name: "manage-users" %>
                  </li>
                  <li>
                    <%= link_to "Edit Site", edit_site_path(@site), class: "activate-modal", name: "edit-site" %>
                  </li>
                  <li>
                    <%= link_to "Requests", "#", class: "activate-modal", name: "requests" %>
                  </li>
                  <li>
                    <%= link_to "Remove", "#", class: "activate-modal", name: "delete" %>
                  </li>
              </ul>
            </div>
            <% end %>
          </li>
        </div>
      <% end %>
      <% if current_user.has_unapproved_sites? %>
        <div class="text-center" id="invites-title">Invites</div>
      <% end %>
      <% current_user.unapproved_sites.each do |site| %>
        <%= render partial: "user_sites/form", locals: { user_site: current_user.find_user_site(site) } %>
      <% end %>
        <% unless current_user.has_active_sites? %>
      <div class="welcome-msg">
        <p>This section will list all of the sites you belong to automatically, as well as your admin sites.</p> <!-- <p>To create an admin site hit the plus next to "My Sites". You can always view message in the help section.</p> -->
        <div class="text-center">
          <button class="button button-primary activate-modal" name="window">Add Site</button>
        </div>
      </div>
    <% end %>
      <div class="send-request">
        <div class="welcome-msg">
          <p>If you wish to be added to an existing site, click below to send a request to the admin of that site.</p>
          <div class="text-center">
            <button class="button button-primary activate-modal" name="send-request">Send Request</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Your Sites Sidebar -->
  <!-- Current Site Data and Conversations Area -->
  <div class="message-bar mobile-target">
    <nav class="current-site-data">
     <header>
        <b><%= @site.name %></b> &nbsp; Conversations
        <%= link_to home_path(site_id: @site.id, new_conversation: true), class: "add-btn" do %>
          <i class="fa fa-plus"></i>
        <% end %>
        <div id="new-message">
        </div>
      </header>
    </nav>

    <% if @conversation.new_record? && current_user.has_active_sites?  %>
      <div class="message-item msg-item-current new-convo-placeholder">
      <div class="media">
           <% if current_user.image %>
          <div class="profile-pic u-pull-left app-view-p-img">
            <img class="profile-pic" src="<%= current_user.image_url %>">
          </div>
        <% else %>
          <div class="profile-pic has-no-pic u-pull-left app-view-p-img">
            <p><%= current_user.first_name[0] %></p>
          </div>
        <% end %>
        <div class="bd">
          <h4>
            New Conversation
          </h4>
          <p>Start messaging now</p>
        </div>
      </div>
      <% if @site.has_conversations? %>
        <%= link_to home_path(site_id: @site.id), class: "close-new-convo" do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% current_user.ordered_conversations_by_site(@site).each do |conversation| %>
    <div class="conversation-wrapper" id="conversation<%= conversation.id %>">
      <%= render partial: "conversations/app_card", locals: { conversation: conversation, current_conversation: @conversation, site: @site, user: current_user } %>
    </div>
  <% end %>

  </div>
  <!-- End Current Site Data and Conversations Area -->
  <!-- Message Content Section -->
  <div class="message-center mobile-target">
      <header>
      <i>To:</i>
      <b> <%= @conversation.other_users_to_s(current_user) %> </b>
      <%= render partial: "layouts/typeahead_form", locals: { site: @site, conversation: @conversation, token: nil } %>
       <a href="#" class="add-user-to-convo add-btn"><i class="fa fa-plus"></i></a>
      </header>

      <div class="msg-bx-convo app-view">
        <% @conversation.messages.each do |message| %>
          <%= render partial: "messages/message", locals: { message: message } %>
        <% end %>
      </div>
    <div id="form-wrapper">
    <% if @conversation.other_users(current_user).length > 0 %>
      <% if @conversation.new_record? %>
        <%= render partial: "conversations/form", locals: { site: @site, conversation: @conversation } %>
      <% else %>
        <%= render partial: "messages/form", locals: { message: @message, conversation: @conversation } %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<% if current_user.active_sites_ordered_by_admin.length > 0 %>

    <div id="mobile-current-account" class="mobile-target">
     <p><b>Your Acount</b></p>
     <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
     <li><%= link_to 'Upgrade', root_path %></li>
     <li><%= link_to 'Logout', logout_path %></li>
   </div>
  <!-- I-Frame -->
  <div id="fixed-iframe" class="pwd-init pwd-closed is-draggable">
    <a href="#" id="pwd-open-btn" draggable="false"> <span>+</span></a>
    <a href="#" id="pwd-move-btn" draggable="false"> <span>&harr;</span></a>
    <iframe id="pwd-message-box" frameborder="0" scrolling="no" src="http://localhost:3000/message_box?token=<%= current_user.active_sites.first.token %>"></iframe>
  </div>
<% end %>
