<%= javascript_include_tag "message_box/message_box" %>

<!--# Message Box #-->
<div id="msg-bx">

  <!--# Message Box Header #-->
    <header class="mb-header">
      <p>
        <% if current_user.has_unread_conversations? %>
          <span class="is-unread-mb"> &bull; </span> &nbsp;
        <% end %>
        <%= link_to login_path, target: '_blank' do %>
          <span>Mercury<b>App</b></span>
        <% end %>
|       <%= current_user.name %>
        <span id="mb-header_icons">
        <% if current_user.has_unread_conversations_other_sites?(@site) %>
          <i class="fa fa-globe is-unread-icon" id="sites-btn"></i>
        <% else %>
          <i class="fa fa-globe" id="sites-btn"></i>
        <% end %>
        <% if current_user.has_unread_conversations_by_site?(@site) %>
          <i class="fa fa-comment is-unread-icon" id="convos-btn"></i>
        <% else %>
          <i class="fa fa-comment" id="convos-btn"></i>
        <% end %>
          <i class="fa fa-user" id="acct-btn"></i>
        </span>
      </p>
    </header>
    <!--# END Message Box Header #-->

      <!--# Message Box Dropdowns #-->
      <div id="mb-convos-dropdown" class="mb-dropdown">

        <!--# Conversation Tabbed Dropdown #-->
        <div class="mb-convos-dropdown">
          <div id="mb-convos-dropdown_convos">
            <div id='convos-list'>
            <p class="text-center">
              <b>Your Conversations</b>
                <%= link_to message_box_path(token: @site.token, new_conversation: true), class: 'u-pull-right'  do %>
                  <i class="fa fa-plus add-btn" style="right: 25px; top:10px; position:absolute;"></i>
                <% end %>
            </p>
              <% current_user.ordered_conversations_by_site(@site).each do |conversation| %>
                <%= render partial: "conversations/mb_card", locals: { site: @site, conversation: conversation, current_conversation: @conversation, user: current_user } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--# END Conversation Tabbed Dropdown #-->

      <!--# Sites Dropdown #-->
      <div id="mb-sites-dropdown" class="mb-dropdown">
        <p><b>Your Sites</b></p>
        <ul id='site-list'>
          <% current_user.sites.each do |site| %>
            <li>
              <% if @site == site %>
                <%= link_to site.name, "http://#{site.url}", target: '_blank', class: 'is-active' %>
              <% else %>
                <% if current_user.has_unread_conversations_by_site?(site) %>
                  <%= link_to site.name, "http://#{site.url}", target: '_blank', class: 'is-unread-site' %>
                <% else %>
                  <%= link_to site.name, "http://#{site.url}", target: '_blank' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--# END Sites Dropdown #-->

      <!--# Sites Dropdown #-->
      <div id="mb-acct-dropdown" class="mb-dropdown">
        <p><b>Your Account</b></p>
        <ul id='acct-list'>
          <li>
            <%= link_to 'Dashboard', login_path, target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Edit Account', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Upgrade', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Log Out', logout_path(message_box: true, token: @site.token) %>
          </li>
        </ul>
      </div>
      <!--# END Sites Dropdown #-->


    <!--# Message Box Body #-->
    <div class="mb-body-wrapper">
      <% if @conversation.has_users? %>
        <div class="mb-body">
          <!-- view for saved conversation -->
          <div class="mb-body_info">
            <p style="display:inline"><i>To: </i><b><%= @conversation.other_users_to_s(current_user) %> </b> <a herf="#" class='mb-body_add-users-btn'><i class="fa fa-plus add-btn" style="padding-right:10px"></i></a></p>
            <div class="mb-body_add-users-form">
              <%= render partial: "layouts/typeahead_form", locals: { site: @site, conversation: @conversation, token: @site.token, tasks: @tasks } %>
            </div>
          </div>
          <div class="msg-bx-convo">
            <% @conversation.messages.each do |message| %>
              <%= render partial: "messages/message", locals: { message: message } %>
            <% end %>
            <% if @site.users.length == 1 %>
              <div class="text-center">
                Looks as if your don't have any users for this site. Head over to <%= link_to "mercuryapp.co", home_path, target: "blank" %> to add some!
              </div>
            <% elsif @conversation.users.length <= 1 %>
              <div class="text-center" >
                Add users to this conversation by pressing the plus icon above!
              </div>
            <% end %>
          </div>
          <!--# END Message Box Body #-->

          <!--# Message Box Form #-->
          <div class="msg-bx-bottom">
            <% if @conversation.new_record? %>
              <%= form_for @conversation, html: { id: "new-conversation-form" } do |f| %>
                <p>
                  <% if @conversation.users.length > 1 %>
                    <%= text_area_tag :content, nil, placeholder: "Send a message to #{@conversation.other_user_name(current_user)}..." %>
                  <% end %>
                </p>
                <% @conversation.user_ids.each do |user_id| %>
                  <%= f.hidden_field :user_ids, multiple: true, value: user_id %>
                <% end %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :site_id, value: @site.id %>
              <% end %>
            <% else %>
              <%= form_for @message do |f| %>
              <p>
                <%= f.text_area :content, placeholder: "Send a message to #{@conversation.other_user_name(current_user)}..." %>
              </p>
              <%= f.hidden_field :conversation_id, value: @conversation.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :site_id, value: @site.id %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
    <!-- default conversation view -->
      <div class="no-convo text-center">
        <h4>You Have No Conversations... Yet</h4>
        <p> You can get started by clicking the <i class="fa fa-comment"></i> icon above.</p>
      </div>
    <% end %>
  </div>
</div>
