<div class="msg-bx-pwd">
  <header>
    <p>
      <span class="msg-bx-header-txt-pwd">This is Your Message Center</span>
      <span id="pwd-nav-icons">
      <i class="fa fa-users" id="pwd-users"></i>
      <i class="fa fa-comment" id="pwd-convos"></i>
      <i class="fa fa-globe" id="pwd-sites"></i>
      </span>
    </p>
      <div id="msg-bx-users-pwd" class="msg-bx-dropdown-pwd">
        <p><b>Users on this site</b></p>
        <ul id='msg-bx-user-list-pwd'>
          <% @site.other_users(current_user).each do |user| %>
            <li><div class="profile-pic no--pic"><div class="table-cell"><%= user.first_name[0] %></div></div><%= "#{user.last_name}, #{user.first_name}" %> </li>
          <% end %>
        </ul>
      </div>
      <div id="msg-bx-sites-pwd" class="msg-bx-dropdown-pwd">
      <p><b>Your Sites</b></p>
      <ul id='msg-bx-site-list-pwd'>
      <% current_user.sites.each do |site| %>
      <li>
      <% if @site == site %>
        <%= link_to site.name, "http://#{site.url}", target: '_blank', class: 'active' %>
      <% else %>
        <%= link_to site.name, "http://#{site.url}", target: '_blank' %>
      <% end %>
      </li>
    <% end %>
      </ul>
    </div>

    <div id="msg-bx-convos-pwd" class="msg-bx-dropdown-pwd">
    <p><b>Your Conversations</b></p>
      <div id='msg-bx-convos-list-pwd'>
        <% current_user.conversations_by_site(@site).each do |conversation| %>
            <div class="msg-bx-convo">
          <%= link_to message_box_path(conversation_id: conversation.id, site_url: @site.url, token: current_user.token) do %>
              <i><%= conversation.messages.last.date_to_s %></i>
              <i><%= conversation.messages.last.time_to_s %></i>
            <div class="msg-bx-convo-data">
              <h4><%= conversation.abbreviated_other_users_to_s(current_user, 30, true) %></h4>
              <%= "#{conversation.messages.last.user.first_name}: #{conversation.content_preview(30)}" %>
            </div>
          <% end %>
            </div>
        <% end %>
      </div>
    </div>

  </header>

  <div class="msg-bx-body-pwd">
    <div class="msg-bx-info">
      <p><i>Your conversation with:</i> <br><b><%= @conversation.other_users_to_s(current_user) %> </b></p>
    </div>
    <div class="msg-bx-convo-pwd">
      <% @conversation.messages.each do |message| %>
        <%= render partial: "messages/message", locals: { message: message } %>
      <% end %>
    </div>
    <div class="msg-bx-bottom-pwd">
      <%= form_for @message do |f| %>
        <%= f.label :content, "Message" %>
        <p>
          <%= f.text_area :content, placeholder: "Hi #{@conversation.other_user_name(current_user)}..." %>
        </p>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Submit", :class => 'button-primary-pwd'  %>
      <% end %>
    </div>
  </div>
</div>
