<%= render partial: "layouts/header", locals: { transitioned: true } %>

<section class="owner-data">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="table-wrapper">

          <h4>Global Data</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>Total Users</th>
                <th>Total Conversations</th>
                <th>Total Messages</th>
              </tr>
            </thead>
            <tr>
              <td><%= User.count %></td>
              <td><%= Conversation.count %></td>
              <td><%= Message.count %></td>
            </tr>
          </table>
        </div>

        <div class="table-wrapper">
          <h4>Recent Data (<%= @time %> Days)</h4>
          <%= form_tag owner_data_path, method: 'GET' do %>
            <%= number_field_tag 'time' %>
          <% end %>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>Recent Users</th>
                <th>Recent Conversations</th>
                <th>Recent Messages</th>
              </tr>
            </thead>
            <tr>
              <td><%= User.recent_count_by_days(@time) %></td>
              <td><%= Conversation.recent_count_by_days(@time) %></td>
              <td><%= Message.recent_count_by_days(@time) %></td>
            </tr>
          </table>
        </div>

        <div class="table-wrapper">
          <h4>Users</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Active Projects</th>
                <th>Admin Projects</th>
                <th>Total Conversations</th>
                <th>Total Messages</th>
                <th>Total Visits</th>
                <th>Tier</th>
                <th>Banned?</th>
              </tr>
            </thead>
            <tbody>
              <% User.all.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= link_to user.name, user_owner_data_user_path(user) %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.active_projects.count %></td>
                  <td><%= user.active_admin_projects.count %></td>
                  <td><%= user.conversations.count %></td>
                  <td><%= user.messages.count %></td>
                  <td><%= user.visits %></td>
                  <td><%= user.tier.name %></td>
                  <td>
                    <%= user.is_banned? %>
                    <% if user.is_banned? %>
                      <%= link_to "Remove Ban", ban_path(user.current_ban, ban: { user_id: user.id, active: false }), method: "PUT" %>
                    <% else %>
                      <%= link_to "Ban", new_ban_path(user_id: user.id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="table-wrapper">
          <h4>Projects</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Token</th>
                <th>Active?</th>
              </tr>
            </thead>
            <% Project.all.each do |project| %>
              <tr>
                <td><%= project.id %></td>
                <td><%= link_to project.name, project_owner_data_project_path(project) %></td>
                <td><%= project.token %></td>
                <td><%= project.active %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>