<%= render partial: "layouts/home_header", locals: { project: nil } %>

<section class="owner-data">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="table-wrapper">

          <h4>Global Data</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>Total Users</th>
                <th>Total Conversations</th>
                <th>Total Messages</th>
              </tr>
            </thead>
            <tr>
              <td><%= User.count %></td>
              <td><%= Conversation.count %></td>
              <td><%= Message.count %></td>
            </tr>
          </table>
        </div>

        <div class="table-wrapper">
          <h4>Recent Data (<%= @time %> Days)</h4>
          <p>
            <%= link_to "Past 7 Days", owner_data_path(time: 7), class: "button button-primary" %>
            <%= link_to "Past 30 Days", owner_data_path(time: 30), class: "button button-primary" %>
            <%= link_to "Past 100 Days", owner_data_path(time: 100), class: "button button-primary" %>
          </p>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>Active Users</th>
                <th>New Users</th>
                <th>New Conversations</th>
                <th>New Messages</th>
              </tr>
            </thead>
            <tr>
              <td><%= User.recent_active_users(@time).count %></td>
              <td><%= User.recent_count_by_days(@time) %></td>
              <td><%= Conversation.recent_count_by_days(@time) %></td>
              <td><%= Message.recent_count_by_days(@time) %></td>
            </tr>
          </table>
        </div>

        <div class="table-wrapper">
          <h4>Recent Users</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Join Date</th>
                <th>Active Projects</th>
                <th>Admin Projects</th>
                <th>Total Conversations</th>
                <th>Total Messages</th>
                <th>Total Visits</th>
                <th>Tier</th>
                <th>Banned?</th>
              </tr>
            </thead>
            <tbody>
              <% @recent_users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= link_to user.name, user_owner_data_user_path(user) %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.join_date %></td>
                  <td><%= user.active_projects.count %></td>
                  <td><%= user.active_admin_projects.count %></td>
                  <td><%= user.conversations.count %></td>
                  <td><%= user.messages.count %></td>
                  <td><%= user.visits %></td>
                  <td><%= user.tier.name %></td>
                  <td>
                    <%= user.is_banned? %>
                    <% if user.is_banned? %>
                      <%= link_to "Remove Ban", ban_path(user.current_ban, ban: { user_id: user.id, active: false }), method: "PUT" %>
                    <% else %>
                      <%= link_to "Ban", new_ban_path(user_id: user.id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <h5>
            <%= link_to "All Users", users_data_path %>
          </h5>
        </div>

        <div class="table-wrapper">
          <h4>Recent Projects</h4>
          <table class="tablesorter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Token</th>
                <th>Active?</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <% @recent_projects.each do |project| %>
              <tr>
                <td><%= project.id %></td>
                <td><%= link_to project.name, project_owner_data_project_path(project) %></td>
                <td><%= project.token %></td>
                <td><%= project.active %></td>
                <td><%= project.creation_date %></td>
              </tr>
            <% end %>
          </table>

          <h5>
            <%= link_to "All Projects", projects_data_path %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>