<div style="height:100%; width:100%; overflow: scroll;">

  <div class="desktop-nav show-desktop">
    <div id="header" class="navbar">
     <div class="container">
      <div class="row">
        <span class="home-link"><%= link_to 'MercuryApp', splash_path %></span>
        <ul>
          <li><a href="/splash#features">Features</a></li>
          <li><a href="/splash#plans">Plans</a></li>
          <li><a href="/splash#why">Why MAP</a></li>
          <li><a href="/splash#getting-started">Getting Started</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        <ul class="u-pull-right">
          <% if current_user %>
          <li><%= link_to 'Dashboard', home_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
          <li class="pill"><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mobile-nav show-mobile">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="/"><h2>MercuryApp</h2></a>
        <a id="right-menu" class="u-pull-right" href="#right-menu"><i class="fa fa-bars fa-2x"></i></a>
        <div id="sidr-right" class="sidr right">
          <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#plans">Plans</a></li>
            <li><a href="#why">Why MAP</a></li>
            <li><a href="#getting-started">Getting Started</a></li>
            <% if current_user %>
            <li><%= link_to 'Dashboard', home_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li class="pill"><%= link_to 'Sign Up', login_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End mobile menu -->
<!--nav-bar-->
<!--
Feature Area
-->
<section class="feature">
  <h1 class="text-center">Mercury App Support</h1>
</section>
<!-- End Feature -->
<!-- main body -->
<div class="main">
 <section>
   <div class="container">
     <div class="row">
       <div class="twelve columns text-center">
         <h1>Support and Frequently Asked Questions</h1>
         <p>Totally awesome WordPress messaging!</p>
       </div>
       <div class="eight offset-by-two columns">
       <hr>
          <h2>Sign Up</h2>
            <ol>
              <li><b>Create a unique user name</b><br>This allows you to be found by other Mercury users.</li>
              <li><b>Add a project</b><br>If you have a project to work on add it to your account, if not you can still use the Mercury app to communicate with other projects and users.</li>
              <li><b>Join or request to join a conversation</b><br>You can send a request to be added to a project or add and send requests to anyone you would like to be messaging on your project.</li>
            </ol>
            <h3>It's that simple</h3>
            <hr>
        </div>
      </div>
    </div>
  </section>
   <div class="container">
     <div class="row">
       <div class="ten offset-by-one columns text-center">
         <h1>Not a Mercury user?</h1>
         <h3>Sign up for a free account</h3>
         <%= link_to 'Sign Up', new_user_path, class: "button button-primary"  %>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
       </div>
     </div>
   </div>


</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="four columns">
      </div>
    </div><!--row-->
  </div>
</footer>
<footer class="copyright-footer">
  <div class="container">
   <div class="row">
    <p>Copyright 2016 | Mercury Messenger App</p>
  </div><!--row-->
</div>
</footer>
</div>



