<section>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3><%= @user.name %> Data</h3>
        <h5><%= @user.name %>'s Active Project</h5>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Url</th>
              <th>Admin</th>
              <th>Total Messages</th>
              <th>Total Conversations</th>
            </tr>
          </thead>
          <tbody>
            <% @user.active_project.each do |project| %>
              <tr>
                <td><%= link_to project.name, project_owner_data_project_path(project) %></td>
                <td><%= project.url %></td>
                <td>
                  <%= @user.admin_of_project?(project) %>
                  <% if @user.admin_of_project?(project) %>
                    <%= link_to "Remove as Admin", user_project_path(@user.find_user_project(project), user_project: { admin: false }), method: "put", class: "button button-warning button-inline" %>
                  <% else %>
                    <%= link_to "Set as Admin", user_project_path(@user.find_user_project(project), user_project: { admin: true }), method: "put", class: "button button-primary button-inline" %>
                  <% end %>
                </td>
                <td><%= @user.messages_by_project(project).count %></td>
                <td><%= @user.conversations_by_project(project).count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>