<%= form_for ban do |f| %>
  <div>
    <%= f.text_area :message, placeholder: "Ban message here" %>
  </div>

  <div>
    <%= date_select :ban, :expiration %>
  </div>

  <%= f.hidden_field :user_id, value: user.id %>

  <div>
    <%= f.submit class: "button button-primary" %>
  </div>
<% end %>