<%= javascript_include_tag "message_box/message_box" %>
<div id="msg-bx">
	 <!--# Message Box Header #-->
    <header class="mb-header">
      <p>
        <% if current_user.has_unread_conversations? %>
          <span class="is-unread-mb"> &bull; </span> &nbsp;
        <% end %>
        <%= link_to login_path, target: '_blank' do %>
          <span>Mercury<b>App</b></span>
        <% end %>
|       <%= current_user.name %>
        <span id="mb-header_icons">
        <% if current_user.has_unread_conversations_other_sites?(@site) %>
          <i class="fa fa-globe is-unread-icon" id="sites-btn"></i>
        <% else %>
          <i class="fa fa-globe" id="sites-btn"></i>
        <% end %>
          <i class="fa fa-user" id="acct-btn"></i>
        </span>
      </p>
    </header>
    <!--# END Message Box Header #-->


      <!--# Sites Dropdown #-->
      <div id="mb-sites-dropdown" class="mb-dropdown mb-sites-request-dropdown">
        <p><b>Your Sites</b></p>
        <ul id='site-list'>
          <% current_user.sites.each do |site| %>
            <li>
              <% if @site == site %>
                <%= link_to site.name, "http://#{site.url}", target: '_blank', class: 'is-active' %>
              <% else %>
                <% if current_user.has_unread_conversations_by_site?(site) %>
                  <%= link_to site.name, "http://#{site.url}", target: '_blank', class: 'is-unread-site' %>
                <% else %>
                  <%= link_to site.name, "http://#{site.url}", target: '_blank' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--# END Sites Dropdown #-->

      <!--# Sites Dropdown #-->
      <div id="mb-acct-dropdown" class="mb-dropdown">
        <p><b>Your Account</b></p>
        <ul id='acct-list'>
          <li>
            <%= link_to 'Dashboard', login_path, target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Edit Account', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Upgrade', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Log Out', logout_path(message_box: true, token: @site.token) %>
          </li>
        </ul>
      </div>
      <!--# END Sites Dropdown #-->



			<%= render partial: "form", locals: { request: @request, site: @site } %>

		</div>
	</div>
</div>