<%= javascript_include_tag "message_box/message_box" %>
<div id="msg-bx">
	 <!--# Message Box Header #-->
    <header class="mb-header">
      <p>
        <% if current_user.has_unread_conversations? %>
          <span class="is-unread-mb"> &bull; </span> &nbsp;
        <% end %>
        <%= link_to login_path, target: '_blank' do %>
          <span>Mercury<b>App</b></span>
        <% end %>
|       <%= current_user.name %>
        <span id="mb-header_icons">
        <% if current_user.has_unread_conversations_other_projects?(@project) %>
          <i class="fa fa-globe is-unread-icon" id="projects-btn"></i>
        <% else %>
          <i class="fa fa-globe" id="projects-btn"></i>
        <% end %>
          <i class="fa fa-user" id="acct-btn"></i>
        </span>
      </p>
    </header>
    <!--# END Message Box Header #-->


      <!--# projects Dropdown #-->
      <div id="mb-projects-dropdown" class="mb-dropdown mb-projects-request-dropdown">
        <p><b>Your projects</b></p>
        <ul id='project-list'>
          <% current_user.projects.each do |project| %>
            <li>
              <% if @project == project %>
                <%= link_to project.name, "http://#{project.url}", target: '_blank', class: 'is-active' %>
              <% else %>
                <% if current_user.has_unread_conversations_by_project?(project) %>
                  <%= link_to project.name, "http://#{project.url}", target: '_blank', class: 'is-unread-project' %>
                <% else %>
                  <%= link_to project.name, "http://#{project.url}", target: '_blank' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--# END projects Dropdown #-->

      <!--# projects Dropdown #-->
      <div id="mb-acct-dropdown" class="mb-dropdown">
        <p><b>Your Account</b></p>
        <ul id='acct-list'>
          <li>
            <%= link_to 'Dashboard', login_path, target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Edit Account', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Upgrade', edit_user_path(current_user), target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Log Out', logout_path(message_box: true, token: @project.token) %>
          </li>
        </ul>
      </div>
      <!--# END projects Dropdown #-->



			<%= render partial: "form", locals: { request: @request, project: @project } %>

		</div>
	</div>
</div>