<%= render partial: "layouts/header", locals: { transitioned: true } %>

<section>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3><%= @project.name %> Data</h3>
        <h5>Users</h5>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Admin?</th>
              <th>Total Conversations on <%= @project.name %></th>
              <th>Total Messages on <%= @project.name %></th>
            </tr>
          </thead>
          <tbody>
            <% @project.users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.name, user_owner_data_user_path(user) %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                  <%= user.admin_of_project?(@project) %>
                  <% if user.admin_of_project?(@project) %>
                    <%= link_to "Remove as Admin", user_project_path(user.find_user_project(@project), user_project: { admin: false }), method: "put", class: "button button-warning button-inline" %>
                  <% else %>
                    <%= link_to "Set as Admin", user_project_path(user.find_user_project(@project), user_project: { admin: true }), method: "put", class: "button button-primary button-inline" %>
                  <% end %>
                </td>
                <td><%= user.conversations_by_project(@project).count %></td>
                <td><%= user.messages_by_project(@project).count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>