    <h1>Please Select Your Tier</h1>
    <div>&nbsp;</div>
    <div class="container tiers">
      <div class="row">
        <div class="four columns tiers_card is-active">
          <h3>Basic Tier</h3>
            <h4>Personal</h4>
          <div class="tier_accordian">
            <p>Create three project</p>
            <p>Add up to three users<small> (per project)</small></p>
            <p>Belong to unlimited projects</p>
          </div>
        </div>
        <div class="four columns tiers_card">
            <h3>Start Up</h3>
            <h4>$10/year</h4>
          <div class="tier_accordian">
            <p>Create five projects</p>
            <p>Add up to five users<small> (per project)</small></p>
            <p>Belong to unlimited projects</p>
          </div>
        </div>
        <div class="four columns tiers_card">
            <h3>Enterprise</h3>
            <h4>$20/year</h4>
          <div class="tier_accordian">
            <p>Create ten projects</p>
            <p>Add up to 50 users<small> (per project)</small></p>
            <p>Belong to unlimited projects</p>
          </div>
      </div>
    </div>
  </div>
<%= form_for subscription, html: { id: "subscription-form" } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="tier-select">
    <%= collection_radio_buttons nil, :tier_id, Tier.all_published, :id, :name, checked: tier_id %>
  </div>

  <% if card_token %>
    <%= f.hidden_field :stripe_card_token, value: card_token %>
  <% else %>

      <div id="card-form" class="hidden">

      <%= f.hidden_field :stripe_card_token %>

      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Submit Subscription", class: "primary button-primary" %>
<br><br>  <%= link_to 'cancel', :back %>
<% end %>