<%= form_for site do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Site Name" %>
    <%= f.text_field :url, placeholder: "Site Url" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= f.submit "Create Site" %>
  </div>
<% end %>