<div class="admin-nav gradient-background">
  <ul>
    <li class="evia-font"><%= link_to "Evia", splash_path %></li>
  </ul>
  <ul class="u-pull-right">
    <li><%= link_to "Admin Home", owner_data_path %></li>
    <li><%= link_to "All Users", users_data_path %></li>
    <li><%= link_to "All Projects", projects_data_path %></li>
    <li><%= link_to "Dashboard", home_path %></li>
  </ul>
</div>