<div class="desktop-nav show-desktop">
    <div id="header" class="navbar tab0 <%= transitioned ? 'is-transitioned' : '' %>">
       <div class="container">
        <div class="row">
          <a href="/splash"><span class="evia-font">Evia</span></a>
          <ul>
            <li><a href="#why">Why MAP</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/pricing">Pricing</a></li>
          </ul>
          <ul class="u-pull-right">
            <% if current_user %>
            <li><%= link_to 'Dashboard', home_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li class="pill"><%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav show-mobile">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <a href="/"><h3 class="mobile-logo"><span class="evia-font">Evia</span></h3></a>
          <a id="right-menu" class="u-pull-right" href="#right-menu"><i class="fa fa-bars fa-2x"></i></a>
          <% if current_user %>
          <%= link_to 'Dashboard', home_path, class: 'button-mobile-signup u-pull-right' %>
          <% else %>
          <%= link_to 'Sign Up', new_user_path, class: 'button button-primary button-mobile-signup u-pull-right' %>
          <% end %>
          <div id="sidr-right" class="sidr right">
            <ul>
              <li><a href="#why">Why MAP</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="/support">Support</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <% if current_user %>
              <li><%= link_to 'Dashboard', home_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
              <% else %>

              <li><%= link_to 'Login', login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- End mobile menu -->