<!DOCTYPE html>
<html>
<head>
  <title>MessageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <% if current_user %>
    <%= javascript_tag "conversationIds = #{current_user.conversation_ids.to_json.html_safe}; userId = #{current_user.id};" %>
  <% end %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <%= render partial: "layouts/header" %>
  <% if flash[:warn] %>
  <div class="flash-warn flash">
    <%= flash[:warn] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="flash-notice flash">
    <%= flash[:notice] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <%= yield %>

</body>
</html>
