<!DOCTYPE html>
<html>
<head>
  <title>
    <% if current_user && current_user.has_unread_conversations? %>
    (<%= current_user.unread_conversations_count %>) New Messages |
    <% end %>
    Mercury Messenger App</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLISHABLE_KEY %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", 'application' %>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72301168-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- JS DATA -->
  <%= javascript_tag "var pusher = new Pusher('9cc4489f87803144fa9d');" %>
  <% if current_user %>
    <%= javascript_tag "conversationTokens = #{current_user.conversation_tokens.to_json.html_safe}; userId = #{current_user.id};" %>
  <% end %>
  <% if @conversation %>
    <%= javascript_tag "curConvoToken = #{@conversation.token.to_json.html_safe}; curConvoId = #{@conversation.id || false};" %>
  <% else %>
    <%= javascript_tag "curConvoToken = false; curConvoId = false;" %>
  <% end %>
  <% if @project %>
    <%= javascript_tag "projectId = #{@project.id.to_json.html_safe};" %>
  <% else %>
    <%= javascript_tag "projectId = null;" %>
  <% end %>
  <%= javascript_tag "#{@tasks ? 'tasksMode = true;' : 'tasksMode = false;'}" %>
  <%= javascript_tag "#{@message_box ? 'msgBx = true;' : 'msgBx = false;'}" %>
  <% if @lazy_load %>
    <%= javascript_tag "lazyLoadIndex = #{@lazy_load}" %>
  <% end %>
 <% if @notes %>
    <%= javascript_tag "notesMode = true;" %>
  <% else %>
    <%= javascript_tag "notesMode = false;" %>
  <% end %>
  <!-- END JS DATA -->

  <!-- Touch Icons -->

  <link rel="apple-touch-icon" href="https://s3.amazonaws.com/mercury-app-assets/favicon-152.png">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/mercury-app-assets/favicon.png">
  <link rel="icon" href="https://s3.amazonaws.com/mercury-app-assets/favicon-32.png" sizes="32x32">


  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <% if flash[:warn] %>
  <div class="flash-warn flash">
    <%= flash[:warn] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="flash-notice flash">
    <%= flash[:notice] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <%= yield %>

</body>
</html>
