<!DOCTYPE html>
<html>
<head>
  <title>MessageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72301168-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- JS DATA -->
  <%= javascript_tag "var pusher = new Pusher('9cc4489f87803144fa9d');" %>
  <% if current_user %>
    <%= javascript_tag "conversationTokens = #{current_user.conversation_tokens.to_json.html_safe}; userId = #{current_user.id};" %>
  <% end %>
  <% if @conversation %>
    <%= javascript_tag "curConvoToken = #{@conversation.token.to_json.html_safe};" %>
  <% end %>
  <% if @site %>
    <%= javascript_tag "siteId = #{@site.id.to_json.html_safe};" %>
  <% end %>
  <!-- END JS DATA -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <%= render partial: "layouts/header" %>
  <% if flash[:warn] %>
  <div class="flash-warn flash">
    <%= flash[:warn] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="flash-notice flash">
    <%= flash[:notice] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
  <% end %>
  <%= yield %>

</body>
</html>
