<%= form_tag verify_password_recovery_path(@password_recovery) do %>
  <%= hidden_field_tag :token, @token %>

  <div class="input-form-container">
	<div class="wrapper">
	<h2> Please update your password</h2>
    <%= password_field_tag :password, nil, placeholder: "New Password" %>
    <%= password_field_tag :confirm_password, nil, placeholder: "Confirm New Password" %>
  <%= submit_tag "Create New Password", class: "primary button-primary" %>
<% end %>
</div></div>