<%= form_tag verify_password_recovery_path(@password_recovery) do %>
  <%= hidden_field_tag :token, @token %>

  <div class="field">
    <%= password_field_tag :password, nil, placeholder: "New Password" %>
    <%= password_field_tag :confirm_password, nil, placeholder: "Confirm New Password" %>hey
  </div>

  <%= submit_tag "Create New Password", class: "primary button-primary" %>
<% end %>